* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.container {
  height: 100%;
  background: #090A0F;
}

#smolsnow {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2772px 2149px #FFF , 1825px 627px #FFF , 572px 2189px #FFF , 2195px 462px #FFF , 408px 2273px #FFF , 2082px 1419px #FFF , 700px 12px #FFF , 899px 1677px #FFF , 2907px 2857px #FFF , 714px 2070px #FFF , 723px 1884px #FFF , 2791px 1716px #FFF , 470px 2313px #FFF , 365px 2886px #FFF , 1516px 1708px #FFF , 1164px 2039px #FFF , 633px 512px #FFF , 528px 803px #FFF , 2904px 2572px #FFF , 1153px 2032px #FFF , 1856px 2798px #FFF , 2437px 1087px #FFF , 858px 1395px #FFF , 2388px 980px #FFF , 2252px 1762px #FFF , 302px 814px #FFF , 1048px 2601px #FFF , 96px 1007px #FFF , 990px 1392px #FFF , 1253px 2310px #FFF , 2799px 1376px #FFF , 2852px 1894px #FFF , 2898px 2916px #FFF , 1598px 2082px #FFF , 2559px 1499px #FFF , 2532px 2219px #FFF , 230px 320px #FFF , 1900px 2260px #FFF , 1679px 2598px #FFF , 39px 1716px #FFF , 840px 1240px #FFF , 479px 1200px #FFF , 439px 1091px #FFF , 903px 1996px #FFF , 738px 1408px #FFF , 2365px 1486px #FFF , 1787px 2021px #FFF , 2365px 1550px #FFF , 2277px 226px #FFF , 952px 702px #FFF , 1184px 1835px #FFF , 1776px 1724px #FFF , 1260px 71px #FFF , 1792px 1198px #FFF , 1863px 458px #FFF , 733px 2233px #FFF , 553px 2189px #FFF , 1783px 851px #FFF , 401px 541px #FFF , 1480px 318px #FFF , 1348px 382px #FFF , 498px 2527px #FFF , 634px 1000px #FFF , 1867px 2179px #FFF , 1501px 1px #FFF , 2837px 289px #FFF , 582px 1866px #FFF , 2959px 2434px #FFF , 1285px 520px #FFF , 1705px 2640px #FFF , 2345px 2905px #FFF , 2479px 1402px #FFF , 2175px 2920px #FFF , 1545px 353px #FFF , 2167px 1603px #FFF , 1083px 377px #FFF , 1428px 118px #FFF , 2195px 1351px #FFF , 2623px 2435px #FFF , 1443px 2973px #FFF , 2252px 2436px #FFF , 1007px 2902px #FFF , 2159px 2116px #FFF , 2785px 2696px #FFF , 2545px 1666px #FFF , 1579px 2711px #FFF , 1580px 2595px #FFF , 973px 437px #FFF , 2135px 2794px #FFF , 1102px 47px #FFF , 2220px 2294px #FFF , 39px 2287px #FFF , 2833px 2889px #FFF , 898px 581px #FFF , 2973px 933px #FFF , 1929px 1857px #FFF , 2096px 783px #FFF , 1763px 980px #FFF , 1695px 2157px #FFF , 1238px 1624px #FFF , 393px 1228px #FFF , 844px 108px #FFF , 2760px 1046px #FFF , 2115px 2658px #FFF , 1628px 548px #FFF , 2507px 1990px #FFF , 1835px 1165px #FFF , 703px 2031px #FFF , 2846px 1575px #FFF , 996px 2854px #FFF , 91px 2681px #FFF , 2992px 2038px #FFF , 500px 2629px #FFF , 2549px 1816px #FFF , 453px 2624px #FFF , 2377px 1333px #FFF , 722px 1402px #FFF , 854px 2330px #FFF , 1272px 2454px #FFF , 560px 1839px #FFF , 1951px 85px #FFF , 2960px 711px #FFF , 1332px 1944px #FFF , 378px 2642px #FFF , 197px 2425px #FFF , 1271px 2275px #FFF , 2364px 838px #FFF , 2006px 1313px #FFF , 1020px 701px #FFF , 532px 220px #FFF , 558px 1485px #FFF , 371px 795px #FFF , 530px 2060px #FFF , 1381px 2010px #FFF , 1996px 2760px #FFF , 1975px 2692px #FFF , 2824px 1440px #FFF , 1653px 1775px #FFF , 549px 2137px #FFF , 287px 2063px #FFF , 1488px 453px #FFF , 1836px 1313px #FFF , 752px 1956px #FFF , 1870px 1928px #FFF , 2449px 128px #FFF , 1052px 2846px #FFF , 1141px 1879px #FFF , 583px 666px #FFF , 1103px 1735px #FFF , 1376px 1438px #FFF , 1961px 1838px #FFF , 2285px 2055px #FFF , 1140px 197px #FFF , 2629px 2984px #FFF , 1188px 671px #FFF , 1016px 1822px #FFF , 1208px 2428px #FFF , 253px 787px #FFF , 887px 1907px #FFF , 1429px 2977px #FFF , 840px 2044px #FFF , 2236px 1406px #FFF , 1358px 446px #FFF , 920px 355px #FFF , 2082px 1123px #FFF , 1553px 2765px #FFF , 452px 1191px #FFF , 1806px 329px #FFF , 1460px 1973px #FFF , 1175px 1527px #FFF , 1770px 1527px #FFF , 1744px 1822px #FFF , 901px 506px #FFF , 2358px 384px #FFF , 775px 1366px #FFF , 2658px 1310px #FFF , 2932px 1753px #FFF , 2674px 1281px #FFF , 436px 2118px #FFF , 2889px 1587px #FFF , 971px 535px #FFF , 1009px 1294px #FFF , 525px 1081px #FFF , 458px 1570px #FFF , 1647px 333px #FFF , 1185px 1554px #FFF , 1887px 2728px #FFF , 944px 1295px #FFF , 2074px 1551px #FFF , 1417px 2218px #FFF , 314px 1844px #FFF , 2822px 273px #FFF , 2834px 549px #FFF , 722px 2883px #FFF , 355px 719px #FFF , 735px 1890px #FFF , 719px 2099px #FFF , 2563px 1480px #FFF , 1770px 2857px #FFF , 479px 2654px #FFF , 875px 1610px #FFF , 2319px 1138px #FFF , 503px 6px #FFF , 459px 1897px #FFF , 2970px 1170px #FFF , 2848px 2105px #FFF , 716px 1669px #FFF , 2645px 1871px #FFF , 1219px 2884px #FFF , 287px 2777px #FFF , 1263px 2813px #FFF , 2301px 1918px #FFF , 650px 399px #FFF , 2135px 850px #FFF , 434px 192px #FFF , 1878px 1801px #FFF , 422px 2518px #FFF , 1728px 1811px #FFF , 341px 2242px #FFF , 26px 1882px #FFF , 1424px 863px #FFF , 1755px 2107px #FFF , 2856px 2399px #FFF , 2737px 890px #FFF , 426px 728px #FFF , 2106px 194px #FFF , 1724px 2356px #FFF , 734px 2494px #FFF , 1233px 1574px #FFF , 128px 425px #FFF , 1715px 2082px #FFF , 672px 2422px #FFF , 2863px 2774px #FFF , 1973px 1807px #FFF , 691px 2679px #FFF , 535px 397px #FFF , 1622px 30px #FFF , 709px 415px #FFF , 1686px 2823px #FFF , 2873px 512px #FFF , 269px 29px #FFF , 1104px 1799px #FFF , 2525px 2543px #FFF , 1909px 1767px #FFF , 795px 2890px #FFF , 2689px 1384px #FFF , 516px 2942px #FFF , 1716px 2864px #FFF , 796px 93px #FFF , 2333px 54px #FFF , 94px 2780px #FFF , 1151px 2868px #FFF , 2733px 111px #FFF , 1303px 2658px #FFF , 854px 1214px #FFF , 2964px 445px #FFF , 2017px 1412px #FFF , 2251px 2209px #FFF , 2032px 142px #FFF , 854px 1739px #FFF , 654px 2068px #FFF , 1290px 2327px #FFF , 2986px 1748px #FFF , 1650px 1208px #FFF , 1028px 817px #FFF , 1521px 734px #FFF , 1659px 2127px #FFF , 884px 2343px #FFF , 1516px 1501px #FFF , 2805px 2605px #FFF , 1930px 1599px #FFF , 94px 200px #FFF , 1296px 1220px #FFF , 374px 435px #FFF , 1136px 1107px #FFF , 30px 1931px #FFF , 1553px 2296px #FFF , 2564px 950px #FFF , 750px 1079px #FFF , 1191px 2866px #FFF , 347px 577px #FFF , 529px 305px #FFF , 397px 2017px #FFF , 2969px 1241px #FFF , 2774px 1111px #FFF , 2067px 27px #FFF , 299px 1441px #FFF , 1791px 2349px #FFF , 1372px 2341px #FFF , 2609px 1373px #FFF , 640px 2404px #FFF , 734px 261px #FFF , 1700px 2291px #FFF , 2985px 622px #FFF , 2730px 1706px #FFF , 196px 1559px #FFF , 525px 2440px #FFF , 2830px 440px #FFF , 35px 615px #FFF , 2621px 1790px #FFF , 1787px 717px #FFF , 583px 988px #FFF , 191px 1604px #FFF , 2842px 2236px #FFF , 20px 249px #FFF , 1443px 1966px #FFF , 2261px 1058px #FFF , 187px 2283px #FFF , 430px 1563px #FFF , 581px 1590px #FFF , 1624px 1107px #FFF , 2611px 2509px #FFF , 2131px 2341px #FFF , 280px 517px #FFF , 668px 961px #FFF , 2766px 2383px #FFF , 2113px 1711px #FFF , 370px 1763px #FFF , 752px 1879px #FFF , 1264px 1405px #FFF , 2372px 2323px #FFF , 2133px 304px #FFF , 706px 174px #FFF , 519px 1054px #FFF , 2367px 1052px #FFF , 2490px 2698px #FFF , 1826px 2082px #FFF , 205px 1274px #FFF , 455px 2163px #FFF , 346px 1187px #FFF , 507px 717px #FFF , 457px 1880px #FFF , 635px 2745px #FFF , 668px 2799px #FFF , 660px 521px #FFF , 704px 2933px #FFF , 586px 2477px #FFF , 2906px 564px #FFF , 718px 1461px #FFF , 1626px 339px #FFF , 344px 1111px #FFF , 433px 2985px #FFF , 1504px 1730px #FFF , 2256px 2084px #FFF , 39px 1522px #FFF , 2568px 2699px #FFF , 888px 283px #FFF , 551px 1690px #FFF , 1707px 2155px #FFF , 749px 1658px #FFF , 2294px 2957px #FFF , 2747px 977px #FFF , 933px 1064px #FFF , 295px 2378px #FFF , 198px 1129px #FFF , 1170px 6px #FFF , 2351px 274px #FFF , 1395px 1618px #FFF , 195px 2344px #FFF , 2917px 1686px #FFF , 2986px 1643px #FFF , 2996px 1052px #FFF , 1136px 20px #FFF , 759px 573px #FFF , 1929px 2173px #FFF , 2010px 2290px #FFF , 2326px 2901px #FFF , 627px 2188px #FFF , 277px 586px #FFF , 2671px 721px #FFF , 367px 1654px #FFF , 973px 2666px #FFF , 354px 2678px #FFF , 1262px 2991px #FFF , 2574px 273px #FFF , 2193px 978px #FFF , 513px 1680px #FFF , 2432px 593px #FFF , 1409px 539px #FFF , 1856px 287px #FFF , 1270px 2747px #FFF , 294px 824px #FFF , 2710px 2032px #FFF , 634px 1156px #FFF , 1089px 1172px #FFF , 2777px 2564px #FFF , 2240px 669px #FFF , 1387px 2256px #FFF , 1722px 1137px #FFF , 95px 1035px #FFF , 1835px 350px #FFF , 564px 2304px #FFF , 1821px 599px #FFF , 1047px 2046px #FFF , 621px 2481px #FFF , 8px 2157px #FFF , 1323px 1305px #FFF , 667px 2446px #FFF , 904px 2404px #FFF , 846px 2942px #FFF , 2428px 1907px #FFF , 2747px 395px #FFF , 1854px 1437px #FFF , 2166px 1741px #FFF , 76px 1761px #FFF , 2364px 2327px #FFF , 1886px 1340px #FFF , 1715px 1140px #FFF , 20px 2104px #FFF , 1580px 2619px #FFF , 1424px 1653px #FFF , 441px 1430px #FFF , 1788px 1380px #FFF , 2781px 585px #FFF , 2929px 842px #FFF , 2816px 1164px #FFF , 2717px 2413px #FFF , 2538px 2999px #FFF , 2404px 1473px #FFF , 1910px 443px #FFF , 2996px 89px #FFF , 2829px 2524px #FFF , 822px 1225px #FFF , 2150px 2345px #FFF , 1378px 135px #FFF , 2115px 2361px #FFF , 1188px 1516px #FFF , 2725px 2991px #FFF , 973px 543px #FFF , 1716px 1331px #FFF , 165px 952px #FFF , 155px 2681px #FFF , 462px 279px #FFF , 1238px 2407px #FFF , 1371px 1593px #FFF , 142px 65px #FFF , 2162px 913px #FFF , 2242px 303px #FFF , 2665px 2544px #FFF , 393px 2035px #FFF , 1267px 1274px #FFF , 1464px 2374px #FFF , 1542px 934px #FFF , 403px 1073px #FFF , 2910px 1558px #FFF , 1178px 2425px #FFF , 1412px 2687px #FFF , 928px 251px #FFF , 1216px 384px #FFF , 1592px 2782px #FFF , 847px 1303px #FFF , 2193px 2380px #FFF , 1858px 2391px #FFF , 1058px 331px #FFF , 1683px 112px #FFF , 398px 628px #FFF , 2015px 2340px #FFF , 1246px 2976px #FFF , 460px 1919px #FFF , 691px 253px #FFF , 2375px 521px #FFF , 1443px 2138px #FFF , 1474px 527px #FFF , 2592px 1016px #FFF , 1665px 2589px #FFF , 2739px 2119px #FFF , 1769px 605px #FFF , 949px 313px #FFF , 1068px 1985px #FFF , 1720px 2017px #FFF , 2382px 1403px #FFF , 811px 2956px #FFF , 197px 1871px #FFF , 713px 2482px #FFF , 2449px 537px #FFF , 2975px 402px #FFF , 893px 551px #FFF , 1079px 1490px #FFF , 1608px 2951px #FFF , 1490px 1861px #FFF , 438px 2987px #FFF , 2152px 473px #FFF , 2057px 749px #FFF , 1837px 1912px #FFF , 1620px 2301px #FFF , 423px 1106px #FFF , 1848px 2008px #FFF , 2199px 1639px #FFF , 1983px 1791px #FFF , 1455px 2370px #FFF , 2290px 856px #FFF , 993px 538px #FFF , 560px 1644px #FFF , 2225px 1841px #FFF , 1662px 2333px #FFF , 930px 1894px #FFF , 2805px 1539px #FFF , 1469px 1083px #FFF , 1991px 1810px #FFF , 2107px 199px #FFF , 2114px 2358px #FFF , 27px 461px #FFF , 432px 2230px #FFF , 1220px 2609px #FFF , 1534px 979px #FFF , 20px 2727px #FFF , 2321px 350px #FFF , 2291px 1961px #FFF , 234px 1745px #FFF , 2116px 2740px #FFF , 2266px 2628px #FFF , 1717px 58px #FFF , 1059px 2166px #FFF , 2666px 2749px #FFF , 2108px 608px #FFF , 1461px 1025px #FFF , 39px 2443px #FFF , 2977px 2599px #FFF , 2670px 1919px #FFF , 720px 290px #FFF , 981px 511px #FFF , 1340px 1451px #FFF , 511px 707px #FFF , 2273px 1350px #FFF , 1417px 2178px #FFF , 1666px 2939px #FFF , 2998px 2011px #FFF , 1047px 1411px #FFF , 52px 2811px #FFF , 2513px 576px #FFF , 630px 1758px #FFF , 2981px 2655px #FFF , 1208px 2222px #FFF , 2209px 81px #FFF , 270px 690px #FFF , 831px 442px #FFF , 2263px 1390px #FFF , 2580px 1400px #FFF , 2314px 2853px #FFF , 242px 2780px #FFF , 1686px 260px #FFF , 2570px 1652px #FFF , 2413px 1349px #FFF , 1721px 1920px #FFF , 806px 19px #FFF , 2881px 1982px #FFF , 2490px 2528px #FFF , 2250px 1980px #FFF , 2579px 2749px #FFF , 796px 2942px #FFF , 847px 1478px #FFF , 539px 1228px #FFF , 2935px 2510px #FFF , 377px 2495px #FFF , 2730px 1635px #FFF , 2516px 1163px #FFF , 1742px 1179px #FFF , 1183px 1090px #FFF , 2566px 1042px #FFF , 1714px 1720px #FFF , 852px 425px #FFF , 1626px 1039px #FFF , 836px 1645px #FFF , 839px 886px #FFF , 2441px 2872px #FFF , 2871px 2428px #FFF , 1938px 848px #FFF , 1602px 2598px #FFF , 477px 354px #FFF , 1967px 1564px #FFF , 1881px 1281px #FFF , 2961px 1224px #FFF , 2592px 445px #FFF , 1484px 726px #FFF , 2043px 2790px #FFF , 1393px 418px #FFF , 832px 1753px #FFF , 1507px 2592px #FFF , 911px 1113px #FFF , 304px 1243px #FFF , 2858px 2290px #FFF , 1454px 426px #FFF , 2434px 95px #FFF , 673px 67px #FFF , 982px 718px #FFF , 2640px 2472px #FFF , 674px 1370px #FFF , 2944px 2707px #FFF , 1172px 222px #FFF , 1490px 1653px #FFF , 638px 259px #FFF , 988px 1753px #FFF , 2296px 1050px #FFF , 1183px 548px #FFF , 2725px 1542px #FFF , 209px 672px #FFF , 100px 782px #FFF , 2553px 2456px #FFF , 2375px 1789px #FFF , 98px 551px #FFF , 2800px 461px #FFF , 1336px 2642px #FFF , 1567px 2481px #FFF , 482px 2522px #FFF , 2344px 2850px #FFF , 578px 1226px #FFF , 2157px 2552px #FFF , 1501px 1554px #FFF , 1636px 1802px #FFF , 678px 1000px #FFF , 1084px 1690px #FFF , 21px 989px #FFF , 2006px 2299px #FFF , 2799px 1923px #FFF , 185px 1216px #FFF , 1090px 1401px #FFF , 208px 921px #FFF , 264px 1719px #FFF , 2887px 1224px #FFF , 292px 1552px #FFF , 410px 1700px #FFF , 1855px 2882px #FFF , 1081px 1741px #FFF , 1520px 264px #FFF , 2332px 1741px #FFF , 2277px 2551px #FFF , 1873px 2278px #FFF , 1903px 1855px #FFF , 881px 1382px #FFF , 199px 1848px #FFF , 2622px 2576px #FFF , 1510px 1438px #FFF , 1454px 2088px #FFF , 2193px 258px #FFF , 1279px 1627px #FFF , 2446px 1778px #FFF , 297px 1344px #FFF , 886px 2552px #FFF , 2055px 62px #FFF , 1990px 2979px #FFF , 269px 2781px #FFF , 1852px 439px #FFF , 2391px 2355px #FFF , 1837px 2086px #FFF , 2802px 1290px #FFF , 1352px 205px #FFF , 2357px 2385px #FFF , 1397px 2573px #FFF , 759px 406px #FFF , 2037px 1255px #FFF , 216px 815px #FFF , 1772px 2918px #FFF , 1649px 2441px #FFF , 915px 650px #FFF , 1106px 404px #FFF , 1662px 843px #FFF , 2117px 2442px #FFF , 2198px 90px #FFF , 155px 1446px #FFF , 637px 2523px #FFF , 1655px 2701px #FFF , 779px 602px #FFF , 2601px 1527px #FFF , 1905px 2081px #FFF , 947px 1890px #FFF , 1415px 129px #FFF , 1556px 696px #FFF , 812px 1126px #FFF , 976px 1362px #FFF , 2535px 1808px #FFF , 2165px 2426px #FFF , 2335px 1706px #FFF , 974px 2322px #FFF , 2807px 2857px #FFF , 1235px 1416px #FFF , 2059px 364px #FFF , 269px 1315px #FFF , 1348px 2121px #FFF , 1052px 2912px #FFF , 2284px 2427px #FFF , 867px 416px #FFF , 2255px 823px #FFF , 2410px 1988px #FFF , 200px 807px #FFF , 465px 1642px #FFF , 481px 358px #FFF , 1655px 1402px #FFF , 1437px 2225px #FFF , 2908px 1026px #FFF , 2775px 828px #FFF , 616px 1571px #FFF , 1969px 1551px #FFF , 1284px 2974px #FFF , 2628px 1010px #FFF , 2256px 1304px #FFF , 459px 2296px #FFF , 1572px 1875px #FFF , 465px 1596px #FFF , 799px 647px #FFF , 445px 1462px #FFF;
  -webkit-animation: snow 120s linear infinite;
          animation: snow 120s linear infinite;
}
#smolsnow:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2772px 2149px #FFF , 1825px 627px #FFF , 572px 2189px #FFF , 2195px 462px #FFF , 408px 2273px #FFF , 2082px 1419px #FFF , 700px 12px #FFF , 899px 1677px #FFF , 2907px 2857px #FFF , 714px 2070px #FFF , 723px 1884px #FFF , 2791px 1716px #FFF , 470px 2313px #FFF , 365px 2886px #FFF , 1516px 1708px #FFF , 1164px 2039px #FFF , 633px 512px #FFF , 528px 803px #FFF , 2904px 2572px #FFF , 1153px 2032px #FFF , 1856px 2798px #FFF , 2437px 1087px #FFF , 858px 1395px #FFF , 2388px 980px #FFF , 2252px 1762px #FFF , 302px 814px #FFF , 1048px 2601px #FFF , 96px 1007px #FFF , 990px 1392px #FFF , 1253px 2310px #FFF , 2799px 1376px #FFF , 2852px 1894px #FFF , 2898px 2916px #FFF , 1598px 2082px #FFF , 2559px 1499px #FFF , 2532px 2219px #FFF , 230px 320px #FFF , 1900px 2260px #FFF , 1679px 2598px #FFF , 39px 1716px #FFF , 840px 1240px #FFF , 479px 1200px #FFF , 439px 1091px #FFF , 903px 1996px #FFF , 738px 1408px #FFF , 2365px 1486px #FFF , 1787px 2021px #FFF , 2365px 1550px #FFF , 2277px 226px #FFF , 952px 702px #FFF , 1184px 1835px #FFF , 1776px 1724px #FFF , 1260px 71px #FFF , 1792px 1198px #FFF , 1863px 458px #FFF , 733px 2233px #FFF , 553px 2189px #FFF , 1783px 851px #FFF , 401px 541px #FFF , 1480px 318px #FFF , 1348px 382px #FFF , 498px 2527px #FFF , 634px 1000px #FFF , 1867px 2179px #FFF , 1501px 1px #FFF , 2837px 289px #FFF , 582px 1866px #FFF , 2959px 2434px #FFF , 1285px 520px #FFF , 1705px 2640px #FFF , 2345px 2905px #FFF , 2479px 1402px #FFF , 2175px 2920px #FFF , 1545px 353px #FFF , 2167px 1603px #FFF , 1083px 377px #FFF , 1428px 118px #FFF , 2195px 1351px #FFF , 2623px 2435px #FFF , 1443px 2973px #FFF , 2252px 2436px #FFF , 1007px 2902px #FFF , 2159px 2116px #FFF , 2785px 2696px #FFF , 2545px 1666px #FFF , 1579px 2711px #FFF , 1580px 2595px #FFF , 973px 437px #FFF , 2135px 2794px #FFF , 1102px 47px #FFF , 2220px 2294px #FFF , 39px 2287px #FFF , 2833px 2889px #FFF , 898px 581px #FFF , 2973px 933px #FFF , 1929px 1857px #FFF , 2096px 783px #FFF , 1763px 980px #FFF , 1695px 2157px #FFF , 1238px 1624px #FFF , 393px 1228px #FFF , 844px 108px #FFF , 2760px 1046px #FFF , 2115px 2658px #FFF , 1628px 548px #FFF , 2507px 1990px #FFF , 1835px 1165px #FFF , 703px 2031px #FFF , 2846px 1575px #FFF , 996px 2854px #FFF , 91px 2681px #FFF , 2992px 2038px #FFF , 500px 2629px #FFF , 2549px 1816px #FFF , 453px 2624px #FFF , 2377px 1333px #FFF , 722px 1402px #FFF , 854px 2330px #FFF , 1272px 2454px #FFF , 560px 1839px #FFF , 1951px 85px #FFF , 2960px 711px #FFF , 1332px 1944px #FFF , 378px 2642px #FFF , 197px 2425px #FFF , 1271px 2275px #FFF , 2364px 838px #FFF , 2006px 1313px #FFF , 1020px 701px #FFF , 532px 220px #FFF , 558px 1485px #FFF , 371px 795px #FFF , 530px 2060px #FFF , 1381px 2010px #FFF , 1996px 2760px #FFF , 1975px 2692px #FFF , 2824px 1440px #FFF , 1653px 1775px #FFF , 549px 2137px #FFF , 287px 2063px #FFF , 1488px 453px #FFF , 1836px 1313px #FFF , 752px 1956px #FFF , 1870px 1928px #FFF , 2449px 128px #FFF , 1052px 2846px #FFF , 1141px 1879px #FFF , 583px 666px #FFF , 1103px 1735px #FFF , 1376px 1438px #FFF , 1961px 1838px #FFF , 2285px 2055px #FFF , 1140px 197px #FFF , 2629px 2984px #FFF , 1188px 671px #FFF , 1016px 1822px #FFF , 1208px 2428px #FFF , 253px 787px #FFF , 887px 1907px #FFF , 1429px 2977px #FFF , 840px 2044px #FFF , 2236px 1406px #FFF , 1358px 446px #FFF , 920px 355px #FFF , 2082px 1123px #FFF , 1553px 2765px #FFF , 452px 1191px #FFF , 1806px 329px #FFF , 1460px 1973px #FFF , 1175px 1527px #FFF , 1770px 1527px #FFF , 1744px 1822px #FFF , 901px 506px #FFF , 2358px 384px #FFF , 775px 1366px #FFF , 2658px 1310px #FFF , 2932px 1753px #FFF , 2674px 1281px #FFF , 436px 2118px #FFF , 2889px 1587px #FFF , 971px 535px #FFF , 1009px 1294px #FFF , 525px 1081px #FFF , 458px 1570px #FFF , 1647px 333px #FFF , 1185px 1554px #FFF , 1887px 2728px #FFF , 944px 1295px #FFF , 2074px 1551px #FFF , 1417px 2218px #FFF , 314px 1844px #FFF , 2822px 273px #FFF , 2834px 549px #FFF , 722px 2883px #FFF , 355px 719px #FFF , 735px 1890px #FFF , 719px 2099px #FFF , 2563px 1480px #FFF , 1770px 2857px #FFF , 479px 2654px #FFF , 875px 1610px #FFF , 2319px 1138px #FFF , 503px 6px #FFF , 459px 1897px #FFF , 2970px 1170px #FFF , 2848px 2105px #FFF , 716px 1669px #FFF , 2645px 1871px #FFF , 1219px 2884px #FFF , 287px 2777px #FFF , 1263px 2813px #FFF , 2301px 1918px #FFF , 650px 399px #FFF , 2135px 850px #FFF , 434px 192px #FFF , 1878px 1801px #FFF , 422px 2518px #FFF , 1728px 1811px #FFF , 341px 2242px #FFF , 26px 1882px #FFF , 1424px 863px #FFF , 1755px 2107px #FFF , 2856px 2399px #FFF , 2737px 890px #FFF , 426px 728px #FFF , 2106px 194px #FFF , 1724px 2356px #FFF , 734px 2494px #FFF , 1233px 1574px #FFF , 128px 425px #FFF , 1715px 2082px #FFF , 672px 2422px #FFF , 2863px 2774px #FFF , 1973px 1807px #FFF , 691px 2679px #FFF , 535px 397px #FFF , 1622px 30px #FFF , 709px 415px #FFF , 1686px 2823px #FFF , 2873px 512px #FFF , 269px 29px #FFF , 1104px 1799px #FFF , 2525px 2543px #FFF , 1909px 1767px #FFF , 795px 2890px #FFF , 2689px 1384px #FFF , 516px 2942px #FFF , 1716px 2864px #FFF , 796px 93px #FFF , 2333px 54px #FFF , 94px 2780px #FFF , 1151px 2868px #FFF , 2733px 111px #FFF , 1303px 2658px #FFF , 854px 1214px #FFF , 2964px 445px #FFF , 2017px 1412px #FFF , 2251px 2209px #FFF , 2032px 142px #FFF , 854px 1739px #FFF , 654px 2068px #FFF , 1290px 2327px #FFF , 2986px 1748px #FFF , 1650px 1208px #FFF , 1028px 817px #FFF , 1521px 734px #FFF , 1659px 2127px #FFF , 884px 2343px #FFF , 1516px 1501px #FFF , 2805px 2605px #FFF , 1930px 1599px #FFF , 94px 200px #FFF , 1296px 1220px #FFF , 374px 435px #FFF , 1136px 1107px #FFF , 30px 1931px #FFF , 1553px 2296px #FFF , 2564px 950px #FFF , 750px 1079px #FFF , 1191px 2866px #FFF , 347px 577px #FFF , 529px 305px #FFF , 397px 2017px #FFF , 2969px 1241px #FFF , 2774px 1111px #FFF , 2067px 27px #FFF , 299px 1441px #FFF , 1791px 2349px #FFF , 1372px 2341px #FFF , 2609px 1373px #FFF , 640px 2404px #FFF , 734px 261px #FFF , 1700px 2291px #FFF , 2985px 622px #FFF , 2730px 1706px #FFF , 196px 1559px #FFF , 525px 2440px #FFF , 2830px 440px #FFF , 35px 615px #FFF , 2621px 1790px #FFF , 1787px 717px #FFF , 583px 988px #FFF , 191px 1604px #FFF , 2842px 2236px #FFF , 20px 249px #FFF , 1443px 1966px #FFF , 2261px 1058px #FFF , 187px 2283px #FFF , 430px 1563px #FFF , 581px 1590px #FFF , 1624px 1107px #FFF , 2611px 2509px #FFF , 2131px 2341px #FFF , 280px 517px #FFF , 668px 961px #FFF , 2766px 2383px #FFF , 2113px 1711px #FFF , 370px 1763px #FFF , 752px 1879px #FFF , 1264px 1405px #FFF , 2372px 2323px #FFF , 2133px 304px #FFF , 706px 174px #FFF , 519px 1054px #FFF , 2367px 1052px #FFF , 2490px 2698px #FFF , 1826px 2082px #FFF , 205px 1274px #FFF , 455px 2163px #FFF , 346px 1187px #FFF , 507px 717px #FFF , 457px 1880px #FFF , 635px 2745px #FFF , 668px 2799px #FFF , 660px 521px #FFF , 704px 2933px #FFF , 586px 2477px #FFF , 2906px 564px #FFF , 718px 1461px #FFF , 1626px 339px #FFF , 344px 1111px #FFF , 433px 2985px #FFF , 1504px 1730px #FFF , 2256px 2084px #FFF , 39px 1522px #FFF , 2568px 2699px #FFF , 888px 283px #FFF , 551px 1690px #FFF , 1707px 2155px #FFF , 749px 1658px #FFF , 2294px 2957px #FFF , 2747px 977px #FFF , 933px 1064px #FFF , 295px 2378px #FFF , 198px 1129px #FFF , 1170px 6px #FFF , 2351px 274px #FFF , 1395px 1618px #FFF , 195px 2344px #FFF , 2917px 1686px #FFF , 2986px 1643px #FFF , 2996px 1052px #FFF , 1136px 20px #FFF , 759px 573px #FFF , 1929px 2173px #FFF , 2010px 2290px #FFF , 2326px 2901px #FFF , 627px 2188px #FFF , 277px 586px #FFF , 2671px 721px #FFF , 367px 1654px #FFF , 973px 2666px #FFF , 354px 2678px #FFF , 1262px 2991px #FFF , 2574px 273px #FFF , 2193px 978px #FFF , 513px 1680px #FFF , 2432px 593px #FFF , 1409px 539px #FFF , 1856px 287px #FFF , 1270px 2747px #FFF , 294px 824px #FFF , 2710px 2032px #FFF , 634px 1156px #FFF , 1089px 1172px #FFF , 2777px 2564px #FFF , 2240px 669px #FFF , 1387px 2256px #FFF , 1722px 1137px #FFF , 95px 1035px #FFF , 1835px 350px #FFF , 564px 2304px #FFF , 1821px 599px #FFF , 1047px 2046px #FFF , 621px 2481px #FFF , 8px 2157px #FFF , 1323px 1305px #FFF , 667px 2446px #FFF , 904px 2404px #FFF , 846px 2942px #FFF , 2428px 1907px #FFF , 2747px 395px #FFF , 1854px 1437px #FFF , 2166px 1741px #FFF , 76px 1761px #FFF , 2364px 2327px #FFF , 1886px 1340px #FFF , 1715px 1140px #FFF , 20px 2104px #FFF , 1580px 2619px #FFF , 1424px 1653px #FFF , 441px 1430px #FFF , 1788px 1380px #FFF , 2781px 585px #FFF , 2929px 842px #FFF , 2816px 1164px #FFF , 2717px 2413px #FFF , 2538px 2999px #FFF , 2404px 1473px #FFF , 1910px 443px #FFF , 2996px 89px #FFF , 2829px 2524px #FFF , 822px 1225px #FFF , 2150px 2345px #FFF , 1378px 135px #FFF , 2115px 2361px #FFF , 1188px 1516px #FFF , 2725px 2991px #FFF , 973px 543px #FFF , 1716px 1331px #FFF , 165px 952px #FFF , 155px 2681px #FFF , 462px 279px #FFF , 1238px 2407px #FFF , 1371px 1593px #FFF , 142px 65px #FFF , 2162px 913px #FFF , 2242px 303px #FFF , 2665px 2544px #FFF , 393px 2035px #FFF , 1267px 1274px #FFF , 1464px 2374px #FFF , 1542px 934px #FFF , 403px 1073px #FFF , 2910px 1558px #FFF , 1178px 2425px #FFF , 1412px 2687px #FFF , 928px 251px #FFF , 1216px 384px #FFF , 1592px 2782px #FFF , 847px 1303px #FFF , 2193px 2380px #FFF , 1858px 2391px #FFF , 1058px 331px #FFF , 1683px 112px #FFF , 398px 628px #FFF , 2015px 2340px #FFF , 1246px 2976px #FFF , 460px 1919px #FFF , 691px 253px #FFF , 2375px 521px #FFF , 1443px 2138px #FFF , 1474px 527px #FFF , 2592px 1016px #FFF , 1665px 2589px #FFF , 2739px 2119px #FFF , 1769px 605px #FFF , 949px 313px #FFF , 1068px 1985px #FFF , 1720px 2017px #FFF , 2382px 1403px #FFF , 811px 2956px #FFF , 197px 1871px #FFF , 713px 2482px #FFF , 2449px 537px #FFF , 2975px 402px #FFF , 893px 551px #FFF , 1079px 1490px #FFF , 1608px 2951px #FFF , 1490px 1861px #FFF , 438px 2987px #FFF , 2152px 473px #FFF , 2057px 749px #FFF , 1837px 1912px #FFF , 1620px 2301px #FFF , 423px 1106px #FFF , 1848px 2008px #FFF , 2199px 1639px #FFF , 1983px 1791px #FFF , 1455px 2370px #FFF , 2290px 856px #FFF , 993px 538px #FFF , 560px 1644px #FFF , 2225px 1841px #FFF , 1662px 2333px #FFF , 930px 1894px #FFF , 2805px 1539px #FFF , 1469px 1083px #FFF , 1991px 1810px #FFF , 2107px 199px #FFF , 2114px 2358px #FFF , 27px 461px #FFF , 432px 2230px #FFF , 1220px 2609px #FFF , 1534px 979px #FFF , 20px 2727px #FFF , 2321px 350px #FFF , 2291px 1961px #FFF , 234px 1745px #FFF , 2116px 2740px #FFF , 2266px 2628px #FFF , 1717px 58px #FFF , 1059px 2166px #FFF , 2666px 2749px #FFF , 2108px 608px #FFF , 1461px 1025px #FFF , 39px 2443px #FFF , 2977px 2599px #FFF , 2670px 1919px #FFF , 720px 290px #FFF , 981px 511px #FFF , 1340px 1451px #FFF , 511px 707px #FFF , 2273px 1350px #FFF , 1417px 2178px #FFF , 1666px 2939px #FFF , 2998px 2011px #FFF , 1047px 1411px #FFF , 52px 2811px #FFF , 2513px 576px #FFF , 630px 1758px #FFF , 2981px 2655px #FFF , 1208px 2222px #FFF , 2209px 81px #FFF , 270px 690px #FFF , 831px 442px #FFF , 2263px 1390px #FFF , 2580px 1400px #FFF , 2314px 2853px #FFF , 242px 2780px #FFF , 1686px 260px #FFF , 2570px 1652px #FFF , 2413px 1349px #FFF , 1721px 1920px #FFF , 806px 19px #FFF , 2881px 1982px #FFF , 2490px 2528px #FFF , 2250px 1980px #FFF , 2579px 2749px #FFF , 796px 2942px #FFF , 847px 1478px #FFF , 539px 1228px #FFF , 2935px 2510px #FFF , 377px 2495px #FFF , 2730px 1635px #FFF , 2516px 1163px #FFF , 1742px 1179px #FFF , 1183px 1090px #FFF , 2566px 1042px #FFF , 1714px 1720px #FFF , 852px 425px #FFF , 1626px 1039px #FFF , 836px 1645px #FFF , 839px 886px #FFF , 2441px 2872px #FFF , 2871px 2428px #FFF , 1938px 848px #FFF , 1602px 2598px #FFF , 477px 354px #FFF , 1967px 1564px #FFF , 1881px 1281px #FFF , 2961px 1224px #FFF , 2592px 445px #FFF , 1484px 726px #FFF , 2043px 2790px #FFF , 1393px 418px #FFF , 832px 1753px #FFF , 1507px 2592px #FFF , 911px 1113px #FFF , 304px 1243px #FFF , 2858px 2290px #FFF , 1454px 426px #FFF , 2434px 95px #FFF , 673px 67px #FFF , 982px 718px #FFF , 2640px 2472px #FFF , 674px 1370px #FFF , 2944px 2707px #FFF , 1172px 222px #FFF , 1490px 1653px #FFF , 638px 259px #FFF , 988px 1753px #FFF , 2296px 1050px #FFF , 1183px 548px #FFF , 2725px 1542px #FFF , 209px 672px #FFF , 100px 782px #FFF , 2553px 2456px #FFF , 2375px 1789px #FFF , 98px 551px #FFF , 2800px 461px #FFF , 1336px 2642px #FFF , 1567px 2481px #FFF , 482px 2522px #FFF , 2344px 2850px #FFF , 578px 1226px #FFF , 2157px 2552px #FFF , 1501px 1554px #FFF , 1636px 1802px #FFF , 678px 1000px #FFF , 1084px 1690px #FFF , 21px 989px #FFF , 2006px 2299px #FFF , 2799px 1923px #FFF , 185px 1216px #FFF , 1090px 1401px #FFF , 208px 921px #FFF , 264px 1719px #FFF , 2887px 1224px #FFF , 292px 1552px #FFF , 410px 1700px #FFF , 1855px 2882px #FFF , 1081px 1741px #FFF , 1520px 264px #FFF , 2332px 1741px #FFF , 2277px 2551px #FFF , 1873px 2278px #FFF , 1903px 1855px #FFF , 881px 1382px #FFF , 199px 1848px #FFF , 2622px 2576px #FFF , 1510px 1438px #FFF , 1454px 2088px #FFF , 2193px 258px #FFF , 1279px 1627px #FFF , 2446px 1778px #FFF , 297px 1344px #FFF , 886px 2552px #FFF , 2055px 62px #FFF , 1990px 2979px #FFF , 269px 2781px #FFF , 1852px 439px #FFF , 2391px 2355px #FFF , 1837px 2086px #FFF , 2802px 1290px #FFF , 1352px 205px #FFF , 2357px 2385px #FFF , 1397px 2573px #FFF , 759px 406px #FFF , 2037px 1255px #FFF , 216px 815px #FFF , 1772px 2918px #FFF , 1649px 2441px #FFF , 915px 650px #FFF , 1106px 404px #FFF , 1662px 843px #FFF , 2117px 2442px #FFF , 2198px 90px #FFF , 155px 1446px #FFF , 637px 2523px #FFF , 1655px 2701px #FFF , 779px 602px #FFF , 2601px 1527px #FFF , 1905px 2081px #FFF , 947px 1890px #FFF , 1415px 129px #FFF , 1556px 696px #FFF , 812px 1126px #FFF , 976px 1362px #FFF , 2535px 1808px #FFF , 2165px 2426px #FFF , 2335px 1706px #FFF , 974px 2322px #FFF , 2807px 2857px #FFF , 1235px 1416px #FFF , 2059px 364px #FFF , 269px 1315px #FFF , 1348px 2121px #FFF , 1052px 2912px #FFF , 2284px 2427px #FFF , 867px 416px #FFF , 2255px 823px #FFF , 2410px 1988px #FFF , 200px 807px #FFF , 465px 1642px #FFF , 481px 358px #FFF , 1655px 1402px #FFF , 1437px 2225px #FFF , 2908px 1026px #FFF , 2775px 828px #FFF , 616px 1571px #FFF , 1969px 1551px #FFF , 1284px 2974px #FFF , 2628px 1010px #FFF , 2256px 1304px #FFF , 459px 2296px #FFF , 1572px 1875px #FFF , 465px 1596px #FFF , 799px 647px #FFF , 445px 1462px #FFF;
}

#midsnow {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 140px 142px #FFF , 2260px 662px #FFF , 667px 2727px #FFF , 2940px 1128px #FFF , 2557px 1003px #FFF , 173px 1023px #FFF , 592px 2978px #FFF , 441px 2351px #FFF , 1005px 2633px #FFF , 2934px 2386px #FFF , 2577px 867px #FFF , 1659px 1482px #FFF , 525px 682px #FFF , 2479px 2933px #FFF , 353px 1052px #FFF , 1416px 1686px #FFF , 328px 1242px #FFF , 275px 2939px #FFF , 838px 1673px #FFF , 45px 1012px #FFF , 2004px 150px #FFF , 831px 1520px #FFF , 2760px 1520px #FFF , 792px 2819px #FFF , 2777px 2014px #FFF , 212px 1331px #FFF , 2724px 107px #FFF , 2401px 2342px #FFF , 2991px 1932px #FFF , 2904px 1487px #FFF , 1618px 815px #FFF , 569px 2971px #FFF , 2806px 1395px #FFF , 2228px 396px #FFF , 632px 1418px #FFF , 2532px 351px #FFF , 243px 1001px #FFF , 258px 132px #FFF , 1564px 2470px #FFF , 522px 1672px #FFF , 1344px 779px #FFF , 110px 1966px #FFF , 2424px 295px #FFF , 392px 2275px #FFF , 1007px 1188px #FFF , 607px 2091px #FFF , 2746px 2191px #FFF , 2382px 1651px #FFF , 30px 1348px #FFF , 2019px 1721px #FFF , 2579px 2322px #FFF , 682px 197px #FFF , 1298px 1048px #FFF , 1207px 2078px #FFF , 455px 2287px #FFF , 2953px 851px #FFF , 603px 2472px #FFF , 1355px 1499px #FFF , 1036px 1551px #FFF , 1398px 643px #FFF , 1845px 2921px #FFF , 238px 434px #FFF , 2123px 1285px #FFF , 637px 840px #FFF , 1480px 1938px #FFF , 440px 1343px #FFF , 617px 1116px #FFF , 1493px 797px #FFF , 1212px 1940px #FFF , 1811px 1563px #FFF , 132px 1824px #FFF , 2836px 2820px #FFF , 2295px 2085px #FFF , 1367px 88px #FFF , 345px 489px #FFF , 1819px 595px #FFF , 2775px 1893px #FFF , 2946px 2034px #FFF , 1511px 730px #FFF , 2526px 2511px #FFF , 2353px 2310px #FFF , 637px 2640px #FFF , 26px 152px #FFF , 38px 1172px #FFF , 1313px 249px #FFF , 1974px 2094px #FFF , 907px 1422px #FFF , 2101px 319px #FFF , 1507px 2897px #FFF , 1177px 2186px #FFF , 718px 1600px #FFF , 871px 1564px #FFF , 2274px 1955px #FFF , 1331px 2345px #FFF , 180px 2414px #FFF , 2127px 1338px #FFF , 1646px 2599px #FFF , 1718px 1520px #FFF , 875px 2636px #FFF , 90px 2402px #FFF , 1781px 362px #FFF , 576px 2435px #FFF , 1875px 1618px #FFF , 2505px 1325px #FFF , 295px 514px #FFF , 2609px 445px #FFF , 2153px 2081px #FFF , 165px 29px #FFF , 1012px 36px #FFF , 1240px 1642px #FFF , 818px 520px #FFF , 2729px 1274px #FFF , 1809px 1345px #FFF , 1266px 1578px #FFF , 2725px 449px #FFF , 2311px 2035px #FFF , 2583px 690px #FFF , 2771px 1748px #FFF , 2810px 1746px #FFF , 1289px 1143px #FFF , 660px 455px #FFF , 27px 2801px #FFF , 132px 457px #FFF , 1911px 2510px #FFF , 2557px 1126px #FFF , 175px 809px #FFF , 1005px 3000px #FFF , 2299px 1064px #FFF , 430px 2995px #FFF , 327px 738px #FFF , 573px 2540px #FFF , 44px 508px #FFF , 1245px 225px #FFF , 644px 822px #FFF , 1010px 716px #FFF , 2648px 547px #FFF , 1973px 2760px #FFF , 2441px 620px #FFF , 135px 1813px #FFF , 1306px 1974px #FFF , 2044px 214px #FFF , 673px 1699px #FFF , 2635px 804px #FFF , 2914px 1869px #FFF , 435px 2256px #FFF , 2036px 725px #FFF , 2934px 2786px #FFF , 2171px 1164px #FFF , 1553px 2807px #FFF , 1375px 1701px #FFF , 1666px 43px #FFF , 143px 759px #FFF , 1061px 951px #FFF , 2575px 555px #FFF , 1628px 1542px #FFF , 1042px 597px #FFF , 137px 1808px #FFF , 1510px 983px #FFF , 32px 2881px #FFF , 10px 2372px #FFF , 628px 224px #FFF , 297px 599px #FFF , 1097px 341px #FFF , 1431px 2632px #FFF , 351px 2447px #FFF , 2806px 2949px #FFF , 1266px 950px #FFF , 1735px 2195px #FFF , 2218px 2271px #FFF , 179px 1755px #FFF , 1538px 763px #FFF , 1122px 2660px #FFF , 2147px 546px #FFF , 2665px 1867px #FFF , 2745px 97px #FFF , 2287px 1618px #FFF , 1395px 2899px #FFF , 69px 108px #FFF , 2298px 1821px #FFF , 798px 2696px #FFF , 574px 2013px #FFF , 471px 926px #FFF , 2237px 2385px #FFF , 2648px 1315px #FFF , 260px 603px #FFF , 2801px 2131px #FFF , 580px 2228px #FFF , 619px 352px #FFF , 2642px 2262px #FFF , 2975px 2059px #FFF , 1501px 264px #FFF , 1390px 2400px #FFF , 1501px 1706px #FFF , 1515px 759px #FFF , 2789px 2800px #FFF , 2361px 596px #FFF , 1209px 1371px #FFF , 1473px 830px #FFF , 734px 313px #FFF , 2839px 1677px #FFF;
  -webkit-animation: snow 200s linear infinite;
          animation: snow 200s linear infinite;
}
#midsnow:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 140px 142px #FFF , 2260px 662px #FFF , 667px 2727px #FFF , 2940px 1128px #FFF , 2557px 1003px #FFF , 173px 1023px #FFF , 592px 2978px #FFF , 441px 2351px #FFF , 1005px 2633px #FFF , 2934px 2386px #FFF , 2577px 867px #FFF , 1659px 1482px #FFF , 525px 682px #FFF , 2479px 2933px #FFF , 353px 1052px #FFF , 1416px 1686px #FFF , 328px 1242px #FFF , 275px 2939px #FFF , 838px 1673px #FFF , 45px 1012px #FFF , 2004px 150px #FFF , 831px 1520px #FFF , 2760px 1520px #FFF , 792px 2819px #FFF , 2777px 2014px #FFF , 212px 1331px #FFF , 2724px 107px #FFF , 2401px 2342px #FFF , 2991px 1932px #FFF , 2904px 1487px #FFF , 1618px 815px #FFF , 569px 2971px #FFF , 2806px 1395px #FFF , 2228px 396px #FFF , 632px 1418px #FFF , 2532px 351px #FFF , 243px 1001px #FFF , 258px 132px #FFF , 1564px 2470px #FFF , 522px 1672px #FFF , 1344px 779px #FFF , 110px 1966px #FFF , 2424px 295px #FFF , 392px 2275px #FFF , 1007px 1188px #FFF , 607px 2091px #FFF , 2746px 2191px #FFF , 2382px 1651px #FFF , 30px 1348px #FFF , 2019px 1721px #FFF , 2579px 2322px #FFF , 682px 197px #FFF , 1298px 1048px #FFF , 1207px 2078px #FFF , 455px 2287px #FFF , 2953px 851px #FFF , 603px 2472px #FFF , 1355px 1499px #FFF , 1036px 1551px #FFF , 1398px 643px #FFF , 1845px 2921px #FFF , 238px 434px #FFF , 2123px 1285px #FFF , 637px 840px #FFF , 1480px 1938px #FFF , 440px 1343px #FFF , 617px 1116px #FFF , 1493px 797px #FFF , 1212px 1940px #FFF , 1811px 1563px #FFF , 132px 1824px #FFF , 2836px 2820px #FFF , 2295px 2085px #FFF , 1367px 88px #FFF , 345px 489px #FFF , 1819px 595px #FFF , 2775px 1893px #FFF , 2946px 2034px #FFF , 1511px 730px #FFF , 2526px 2511px #FFF , 2353px 2310px #FFF , 637px 2640px #FFF , 26px 152px #FFF , 38px 1172px #FFF , 1313px 249px #FFF , 1974px 2094px #FFF , 907px 1422px #FFF , 2101px 319px #FFF , 1507px 2897px #FFF , 1177px 2186px #FFF , 718px 1600px #FFF , 871px 1564px #FFF , 2274px 1955px #FFF , 1331px 2345px #FFF , 180px 2414px #FFF , 2127px 1338px #FFF , 1646px 2599px #FFF , 1718px 1520px #FFF , 875px 2636px #FFF , 90px 2402px #FFF , 1781px 362px #FFF , 576px 2435px #FFF , 1875px 1618px #FFF , 2505px 1325px #FFF , 295px 514px #FFF , 2609px 445px #FFF , 2153px 2081px #FFF , 165px 29px #FFF , 1012px 36px #FFF , 1240px 1642px #FFF , 818px 520px #FFF , 2729px 1274px #FFF , 1809px 1345px #FFF , 1266px 1578px #FFF , 2725px 449px #FFF , 2311px 2035px #FFF , 2583px 690px #FFF , 2771px 1748px #FFF , 2810px 1746px #FFF , 1289px 1143px #FFF , 660px 455px #FFF , 27px 2801px #FFF , 132px 457px #FFF , 1911px 2510px #FFF , 2557px 1126px #FFF , 175px 809px #FFF , 1005px 3000px #FFF , 2299px 1064px #FFF , 430px 2995px #FFF , 327px 738px #FFF , 573px 2540px #FFF , 44px 508px #FFF , 1245px 225px #FFF , 644px 822px #FFF , 1010px 716px #FFF , 2648px 547px #FFF , 1973px 2760px #FFF , 2441px 620px #FFF , 135px 1813px #FFF , 1306px 1974px #FFF , 2044px 214px #FFF , 673px 1699px #FFF , 2635px 804px #FFF , 2914px 1869px #FFF , 435px 2256px #FFF , 2036px 725px #FFF , 2934px 2786px #FFF , 2171px 1164px #FFF , 1553px 2807px #FFF , 1375px 1701px #FFF , 1666px 43px #FFF , 143px 759px #FFF , 1061px 951px #FFF , 2575px 555px #FFF , 1628px 1542px #FFF , 1042px 597px #FFF , 137px 1808px #FFF , 1510px 983px #FFF , 32px 2881px #FFF , 10px 2372px #FFF , 628px 224px #FFF , 297px 599px #FFF , 1097px 341px #FFF , 1431px 2632px #FFF , 351px 2447px #FFF , 2806px 2949px #FFF , 1266px 950px #FFF , 1735px 2195px #FFF , 2218px 2271px #FFF , 179px 1755px #FFF , 1538px 763px #FFF , 1122px 2660px #FFF , 2147px 546px #FFF , 2665px 1867px #FFF , 2745px 97px #FFF , 2287px 1618px #FFF , 1395px 2899px #FFF , 69px 108px #FFF , 2298px 1821px #FFF , 798px 2696px #FFF , 574px 2013px #FFF , 471px 926px #FFF , 2237px 2385px #FFF , 2648px 1315px #FFF , 260px 603px #FFF , 2801px 2131px #FFF , 580px 2228px #FFF , 619px 352px #FFF , 2642px 2262px #FFF , 2975px 2059px #FFF , 1501px 264px #FFF , 1390px 2400px #FFF , 1501px 1706px #FFF , 1515px 759px #FFF , 2789px 2800px #FFF , 2361px 596px #FFF , 1209px 1371px #FFF , 1473px 830px #FFF , 734px 313px #FFF , 2839px 1677px #FFF;
}

#bigsnow {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 537px 796px #FFF , 829px 2557px #FFF , 629px 2620px #FFF , 210px 1205px #FFF , 1037px 2210px #FFF , 2332px 1891px #FFF , 2756px 505px #FFF , 502px 2071px #FFF , 1962px 835px #FFF , 2396px 2919px #FFF , 2333px 503px #FFF , 206px 785px #FFF , 1332px 2363px #FFF , 991px 1763px #FFF , 2114px 1236px #FFF , 401px 1477px #FFF , 2047px 2769px #FFF , 781px 538px #FFF , 1033px 1364px #FFF , 2020px 1143px #FFF , 1227px 139px #FFF , 499px 1645px #FFF , 2714px 488px #FFF , 742px 2383px #FFF , 1934px 1319px #FFF , 1754px 1914px #FFF , 1685px 2823px #FFF , 1956px 311px #FFF , 1013px 1856px #FFF , 2176px 1948px #FFF , 1433px 2307px #FFF , 1925px 722px #FFF , 1787px 1597px #FFF , 1650px 2987px #FFF , 2904px 1665px #FFF , 1534px 2430px #FFF , 1295px 1564px #FFF , 1467px 1904px #FFF , 1469px 1385px #FFF , 2374px 23px #FFF , 2711px 334px #FFF , 266px 329px #FFF , 1478px 2034px #FFF , 2774px 2534px #FFF , 1853px 2659px #FFF , 93px 2834px #FFF , 2111px 1443px #FFF , 1251px 2650px #FFF , 2245px 2631px #FFF , 1937px 1072px #FFF , 1978px 1247px #FFF , 1602px 1168px #FFF , 2128px 1961px #FFF , 912px 654px #FFF , 2936px 546px #FFF , 1004px 2498px #FFF , 1466px 682px #FFF , 2047px 701px #FFF , 369px 48px #FFF , 820px 125px #FFF , 2784px 647px #FFF , 2282px 2185px #FFF , 319px 1225px #FFF , 1308px 1417px #FFF , 217px 2206px #FFF , 1252px 2680px #FFF , 599px 6px #FFF , 1805px 315px #FFF , 1426px 961px #FFF , 2216px 2271px #FFF , 1621px 1454px #FFF , 1448px 842px #FFF , 2222px 2948px #FFF , 1364px 1120px #FFF , 30px 1635px #FFF , 386px 1114px #FFF , 1116px 1130px #FFF , 258px 502px #FFF , 2121px 1430px #FFF , 450px 300px #FFF , 608px 2553px #FFF , 1272px 929px #FFF , 788px 2532px #FFF , 1745px 1443px #FFF , 1788px 1787px #FFF , 122px 2102px #FFF , 2903px 1496px #FFF , 2587px 1615px #FFF , 2331px 2823px #FFF , 1507px 2915px #FFF , 456px 1210px #FFF , 900px 2758px #FFF , 1705px 645px #FFF , 2077px 457px #FFF , 1374px 2001px #FFF , 1287px 2375px #FFF , 60px 1257px #FFF , 303px 2361px #FFF , 1334px 644px #FFF , 651px 196px #FFF;
  -webkit-animation: snow 300s linear infinite;
          animation: snow 300s linear infinite;
}
#bigsnow:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 537px 796px #FFF , 829px 2557px #FFF , 629px 2620px #FFF , 210px 1205px #FFF , 1037px 2210px #FFF , 2332px 1891px #FFF , 2756px 505px #FFF , 502px 2071px #FFF , 1962px 835px #FFF , 2396px 2919px #FFF , 2333px 503px #FFF , 206px 785px #FFF , 1332px 2363px #FFF , 991px 1763px #FFF , 2114px 1236px #FFF , 401px 1477px #FFF , 2047px 2769px #FFF , 781px 538px #FFF , 1033px 1364px #FFF , 2020px 1143px #FFF , 1227px 139px #FFF , 499px 1645px #FFF , 2714px 488px #FFF , 742px 2383px #FFF , 1934px 1319px #FFF , 1754px 1914px #FFF , 1685px 2823px #FFF , 1956px 311px #FFF , 1013px 1856px #FFF , 2176px 1948px #FFF , 1433px 2307px #FFF , 1925px 722px #FFF , 1787px 1597px #FFF , 1650px 2987px #FFF , 2904px 1665px #FFF , 1534px 2430px #FFF , 1295px 1564px #FFF , 1467px 1904px #FFF , 1469px 1385px #FFF , 2374px 23px #FFF , 2711px 334px #FFF , 266px 329px #FFF , 1478px 2034px #FFF , 2774px 2534px #FFF , 1853px 2659px #FFF , 93px 2834px #FFF , 2111px 1443px #FFF , 1251px 2650px #FFF , 2245px 2631px #FFF , 1937px 1072px #FFF , 1978px 1247px #FFF , 1602px 1168px #FFF , 2128px 1961px #FFF , 912px 654px #FFF , 2936px 546px #FFF , 1004px 2498px #FFF , 1466px 682px #FFF , 2047px 701px #FFF , 369px 48px #FFF , 820px 125px #FFF , 2784px 647px #FFF , 2282px 2185px #FFF , 319px 1225px #FFF , 1308px 1417px #FFF , 217px 2206px #FFF , 1252px 2680px #FFF , 599px 6px #FFF , 1805px 315px #FFF , 1426px 961px #FFF , 2216px 2271px #FFF , 1621px 1454px #FFF , 1448px 842px #FFF , 2222px 2948px #FFF , 1364px 1120px #FFF , 30px 1635px #FFF , 386px 1114px #FFF , 1116px 1130px #FFF , 258px 502px #FFF , 2121px 1430px #FFF , 450px 300px #FFF , 608px 2553px #FFF , 1272px 929px #FFF , 788px 2532px #FFF , 1745px 1443px #FFF , 1788px 1787px #FFF , 122px 2102px #FFF , 2903px 1496px #FFF , 2587px 1615px #FFF , 2331px 2823px #FFF , 1507px 2915px #FFF , 456px 1210px #FFF , 900px 2758px #FFF , 1705px 645px #FFF , 2077px 457px #FFF , 1374px 2001px #FFF , 1287px 2375px #FFF , 60px 1257px #FFF , 303px 2361px #FFF , 1334px 644px #FFF , 651px 196px #FFF;
}

.scroll {
  position: absolute;
  bottom: 8rem;
  transition: opacity 1s;
}

.scroll span {
  width: 20px;
  height: 20px;
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
}
.scroll span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.scroll span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.hero__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.hero__title-wrap {
  color: #FFF;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 10px;
  min-width: 27rem;
}
.hero__name {
  color: #ECECEC;
  display: block;
  text-transform: uppercase;
  width: 27rem;
  -webkit-animation: typing 2s linear, blink 0.5s step-end infinite alternate;
          animation: typing 2s linear, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1em;
}
.hero__subtext {
  display: block;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #ECECEC;
  letter-spacing: 0.35rem;
  font-weight: 400;
  font-size: 1.15rem;
  opacity: 0;
  -webkit-animation: show 0.5s 2s ease-in-out forwards;
          animation: show 0.5s 2s ease-in-out forwards;
}
.hero__links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 100%;
  opacity: 0;
  -webkit-animation: show 0.5s 2.5s ease-in-out forwards;
          animation: show 0.5s 2.5s ease-in-out forwards;
}
.hero__links__item {
  text-decoration: none;
  color: #d5d5d5;
}

.skills, .projects, .journey, .contact {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ECECEC;
}
.skills__heading, .projects__heading, .journey__heading, .contact__heading {
  display: block;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.35rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.skills__content-wrap, .projects__content-wrap, .journey__content-wrap, .contact__content-wrap {
  width: 80%;
  margin-top: 3rem;
}

.skills {
  margin-top: 0;
}
.skills__content-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, -webkit-min-content));
  grid-template-columns: repeat(auto-fill, minmax(17rem, min-content));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
  padding-top: 2rem;
  margin-top: 3rem;
  justify-content: center;
}
.skills__group__subheading {
  display: block;
  text-transform: uppercase;
  font-size: 1.35rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.skills__group__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.skills__group__item p {
  font-size: 1.1rem;
}

.projects .project {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.projects .project__img {
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid #fff;
  border-radius: 10px;
  flex-shrink: 0;
}
.projects .project__img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects .project__info {
  display: flex;
  flex-direction: column;
}
.projects .project__info__role {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 700;
  font-size: 0.75em;
}
.projects .project__info__title {
  text-transform: uppercase;
  font-size: 2em;
}
.projects .project__info__tech {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 700;
  margin-top: 0.5em;
}
.projects .project__info__links {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
.projects .project__info__links__item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 0.75em;
  border-radius: 5px;
  transition: 0.3s;
}
.projects .project__info__links__item:hover {
  color: #000;
  background: #fff;
}
.projects .project__info__description {
  margin-top: 1.5em;
  color: #fff;
}
.projects .project__info__contributions {
  margin-top: 1.5em;
}
.projects .project__info__contributions__item {
  display: flex;
  align-items: center;
}
.projects .project__info__contributions__item svg {
  flex-shrink: 0;
}

.journey__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  border-left: 1px solid #aaa;
}
.journey__item {
  display: flex;
  position: relative;
}
.journey__item svg {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  fill: #aaa;
  stroke: #aaa;
  margin-left: -0.4rem;
  margin-top: -0.5rem;
}
.journey__item__text {
  margin-top: -1.05rem;
  margin-left: 1rem;
  line-height: 1.75rem;
}
.journey__item__text__duration {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 700;
  font-size: 0.85rem;
}
.journey__item__text__title {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.journey__item__text__subtitle {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}
.journey__item__text__achievements {
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.journey__item__text__achievements a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.contact__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.contact__message-wrap {
  display: flex;
  justify-content: center;
}
.contact__message {
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  color: #000;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
}
.contact__form__address-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.contact__form__input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.contact__form__input__label {
  color: #aaa;
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  top: 1.5rem;
  transition: 0.25s ease;
}
.contact__form__input__field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 1px solid #888;
  color: #aaa;
  font: inherit;
  font-size: 1rem;
  padding: 0.25rem 0;
}
.contact__form__input__field:focus, .contact__form__input__field:valid {
  outline: 0;
  border-bottom-color: #fff;
}
.contact__form__input__field:focus + .contact__form__input__label, .contact__form__input__field:valid + .contact__form__input__label {
  color: #fff;
  transform: translateY(-1.5rem);
}
.contact__form textarea {
  resize: none;
}
.contact__form__submit-wrap {
  margin: 2rem 0;
  text-align: end;
}
.contact__form__submit {
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: 0.3s;
}
.contact__form__submit:hover {
  color: #000;
  background: #fff;
}

*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-track {
  background: #090A0F;
}

*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0rem;
}

.tippy-box[data-theme~=clean] {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.75rem;
}

.splide {
  overflow-y: hidden;
}
.splide .splide__arrow svg {
  fill: none;
  height: 20em;
  width: 20em;
  color: #fff;
}
.splide .splide__arrow {
  background: none;
  top: 97%;
}

@-webkit-keyframes snow {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(2000px);
  }
}

@keyframes snow {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(2000px);
  }
}
@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 27rem;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 27rem;
  }
}
@-webkit-keyframes show {
  100% {
    opacity: 100;
  }
}
@keyframes show {
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 48rem) {
  .projects .project {
    display: flex;
    flex-direction: column;
    height: 48rem;
  }
  .contact__form__submit-wrap {
    text-align: center;
  }
}
@media screen and (max-width: 32rem) {
  html {
    font-size: 9px;
  }
  .hero__title-wrap {
    letter-spacing: 6px;
  }
  .hero__name {
    width: 100%;
  }
  .skills__content-wrap {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  .projects .project {
    display: flex;
    flex-direction: column;
    height: 52rem;
  }
  .projects .project__info {
    padding-bottom: 5rem;
  }
  .contact__form__address-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contact__form__submit-wrap {
    text-align: center;
  }
}
@media screen and (max-width: 21.5rem) {
  .projects .project {
    display: flex;
    flex-direction: column;
    height: 48rem;
  }
}
@media screen and (min-width: 131rem) {
  html {
    font-size: 24px;
  }
  .hero__links__item svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  .hero__title-wrap {
    min-width: 13ch;
  }
  .hero__name {
    width: 13ch;
  }
  .projects .project__info__contributions__item {
    margin-top: 0.5em;
  }
  .projects .project__info__contributions__item svg {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }
}