* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

html {
  background: #090A0F;
}

.container {
  height: 100%;
  background: #090A0F;
}

#smolsnow {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 691px 900px #FFF , 1652px 889px #FFF , 1237px 1962px #FFF , 1128px 1642px #FFF , 1377px 909px #FFF , 479px 2091px #FFF , 2740px 2076px #FFF , 1278px 239px #FFF , 120px 615px #FFF , 1749px 1155px #FFF , 919px 443px #FFF , 2627px 2322px #FFF , 2148px 406px #FFF , 2914px 2004px #FFF , 1991px 2713px #FFF , 1640px 429px #FFF , 2166px 2631px #FFF , 445px 2419px #FFF , 2804px 2362px #FFF , 2396px 2222px #FFF , 2653px 1916px #FFF , 2122px 1473px #FFF , 860px 2005px #FFF , 2257px 1507px #FFF , 1147px 2166px #FFF , 238px 432px #FFF , 534px 2572px #FFF , 1131px 302px #FFF , 987px 653px #FFF , 388px 2225px #FFF , 2615px 2281px #FFF , 104px 1205px #FFF , 288px 217px #FFF , 606px 1265px #FFF , 2708px 901px #FFF , 2235px 1957px #FFF , 1219px 2562px #FFF , 324px 1812px #FFF , 366px 2698px #FFF , 1540px 1671px #FFF , 1635px 1507px #FFF , 2856px 735px #FFF , 2772px 1535px #FFF , 2512px 1974px #FFF , 772px 2284px #FFF , 591px 913px #FFF , 2713px 843px #FFF , 2482px 536px #FFF , 2805px 1482px #FFF , 741px 1173px #FFF , 2234px 2883px #FFF , 68px 1340px #FFF , 1359px 2656px #FFF , 139px 1980px #FFF , 2467px 1339px #FFF , 553px 377px #FFF , 2699px 1401px #FFF , 1079px 1646px #FFF , 570px 2840px #FFF , 1913px 2103px #FFF , 1113px 2589px #FFF , 1472px 1305px #FFF , 1730px 1536px #FFF , 816px 1082px #FFF , 1293px 2114px #FFF , 2010px 2482px #FFF , 437px 140px #FFF , 699px 1997px #FFF , 2377px 1069px #FFF , 1195px 2888px #FFF , 1776px 972px #FFF , 658px 1782px #FFF , 30px 572px #FFF , 2296px 446px #FFF , 2981px 1210px #FFF , 1939px 2105px #FFF , 958px 1058px #FFF , 794px 2401px #FFF , 2525px 1168px #FFF , 2266px 733px #FFF , 147px 726px #FFF , 1094px 1514px #FFF , 1201px 1184px #FFF , 2721px 2031px #FFF , 611px 553px #FFF , 1423px 1827px #FFF , 805px 2737px #FFF , 2902px 456px #FFF , 462px 1042px #FFF , 2328px 74px #FFF , 1431px 2838px #FFF , 672px 2301px #FFF , 2318px 436px #FFF , 1713px 2701px #FFF , 1263px 542px #FFF , 2169px 469px #FFF , 614px 621px #FFF , 1012px 970px #FFF , 972px 1214px #FFF , 2369px 193px #FFF , 2234px 1873px #FFF , 1668px 587px #FFF , 2819px 1511px #FFF , 1281px 2717px #FFF , 2091px 276px #FFF , 1009px 1938px #FFF , 1561px 2640px #FFF , 245px 1819px #FFF , 2456px 2845px #FFF , 2886px 2181px #FFF , 554px 336px #FFF , 2161px 304px #FFF , 39px 1207px #FFF , 2125px 1003px #FFF , 2028px 46px #FFF , 339px 2435px #FFF , 359px 539px #FFF , 425px 1261px #FFF , 510px 236px #FFF , 2055px 1472px #FFF , 1864px 2423px #FFF , 33px 2465px #FFF , 1588px 2562px #FFF , 473px 990px #FFF , 1407px 556px #FFF , 561px 2791px #FFF , 583px 1348px #FFF , 1082px 720px #FFF , 1430px 1679px #FFF , 1346px 2315px #FFF , 1599px 1461px #FFF , 1255px 1694px #FFF , 893px 1024px #FFF , 2876px 1320px #FFF , 1662px 515px #FFF , 550px 300px #FFF , 293px 2033px #FFF , 449px 771px #FFF , 302px 379px #FFF , 1594px 1811px #FFF , 2000px 2755px #FFF , 1039px 2443px #FFF , 1424px 2373px #FFF , 2401px 55px #FFF , 490px 2453px #FFF , 1055px 354px #FFF , 816px 624px #FFF , 2530px 1842px #FFF , 1681px 1462px #FFF , 2729px 2567px #FFF , 1914px 2535px #FFF , 532px 2652px #FFF , 2857px 2995px #FFF , 2186px 2477px #FFF , 2389px 2804px #FFF , 1365px 1423px #FFF , 1393px 1187px #FFF , 2206px 2228px #FFF , 782px 1129px #FFF , 164px 1519px #FFF , 1708px 163px #FFF , 1561px 589px #FFF , 94px 1066px #FFF , 425px 1897px #FFF , 251px 1356px #FFF , 1428px 2487px #FFF , 759px 163px #FFF , 2985px 2464px #FFF , 2183px 1362px #FFF , 933px 1843px #FFF , 1668px 1282px #FFF , 113px 2440px #FFF , 1749px 144px #FFF , 2470px 2685px #FFF , 1199px 377px #FFF , 1447px 2268px #FFF , 1311px 53px #FFF , 65px 1976px #FFF , 2208px 1287px #FFF , 414px 1371px #FFF , 2662px 1640px #FFF , 1239px 129px #FFF , 2705px 1266px #FFF , 2334px 450px #FFF , 2368px 2524px #FFF , 1601px 2474px #FFF , 1392px 2847px #FFF , 1671px 2147px #FFF , 1104px 223px #FFF , 380px 156px #FFF , 1302px 2919px #FFF , 126px 49px #FFF , 1434px 1869px #FFF , 2005px 1549px #FFF , 2591px 1113px #FFF , 519px 1695px #FFF , 658px 1191px #FFF , 855px 1825px #FFF , 897px 1401px #FFF , 71px 549px #FFF , 476px 667px #FFF , 72px 2349px #FFF , 1216px 174px #FFF , 548px 667px #FFF , 1576px 371px #FFF , 2471px 2254px #FFF , 1310px 2191px #FFF , 423px 1504px #FFF , 1529px 1707px #FFF , 1585px 2735px #FFF , 2910px 40px #FFF , 2843px 1065px #FFF , 190px 845px #FFF , 1348px 403px #FFF , 1352px 1501px #FFF , 1238px 2777px #FFF , 782px 442px #FFF , 2932px 1696px #FFF , 2611px 700px #FFF , 2733px 1712px #FFF , 310px 1543px #FFF , 1153px 1238px #FFF , 2577px 2166px #FFF , 1506px 2649px #FFF , 576px 1867px #FFF , 100px 1131px #FFF , 2307px 1923px #FFF , 961px 1970px #FFF , 2168px 1388px #FFF , 387px 1455px #FFF , 2261px 2895px #FFF , 709px 355px #FFF , 2420px 2068px #FFF , 633px 1475px #FFF , 2459px 856px #FFF , 2253px 931px #FFF , 669px 64px #FFF , 551px 2269px #FFF , 2483px 1192px #FFF , 2018px 997px #FFF , 221px 568px #FFF , 1135px 748px #FFF , 2850px 778px #FFF , 1348px 2573px #FFF , 777px 1501px #FFF , 2115px 1596px #FFF , 1765px 1411px #FFF , 1531px 1244px #FFF , 252px 168px #FFF , 217px 2216px #FFF , 1410px 1432px #FFF , 2719px 549px #FFF , 1370px 2435px #FFF , 2170px 964px #FFF , 48px 839px #FFF , 2285px 2898px #FFF , 1405px 1925px #FFF , 1181px 437px #FFF , 1298px 753px #FFF , 2485px 806px #FFF , 1006px 538px #FFF , 565px 621px #FFF , 1732px 2365px #FFF , 315px 2905px #FFF , 1341px 2119px #FFF , 2953px 1260px #FFF , 2204px 2163px #FFF , 1056px 2158px #FFF , 108px 2395px #FFF , 1591px 1589px #FFF , 375px 2121px #FFF , 1282px 1571px #FFF , 580px 329px #FFF , 1821px 2693px #FFF , 1420px 333px #FFF , 2122px 2777px #FFF , 1145px 2003px #FFF , 2685px 2207px #FFF , 1183px 2412px #FFF , 1955px 1903px #FFF , 1307px 241px #FFF , 2305px 1490px #FFF , 202px 1091px #FFF , 2886px 1587px #FFF , 1335px 1417px #FFF , 1080px 1969px #FFF , 1221px 23px #FFF , 706px 323px #FFF , 1882px 2842px #FFF , 2354px 2250px #FFF , 2703px 203px #FFF , 1883px 461px #FFF , 585px 2472px #FFF , 2502px 2846px #FFF , 279px 1982px #FFF , 891px 1727px #FFF , 911px 831px #FFF , 1018px 2991px #FFF , 998px 521px #FFF , 2496px 1471px #FFF , 1067px 2287px #FFF , 322px 2704px #FFF , 2234px 2982px #FFF , 973px 1726px #FFF , 294px 2267px #FFF , 1852px 2325px #FFF , 989px 1344px #FFF , 536px 2271px #FFF , 1725px 2902px #FFF , 222px 2141px #FFF , 2826px 1501px #FFF , 2864px 1771px #FFF , 1935px 2597px #FFF , 1254px 180px #FFF , 1129px 1891px #FFF , 2978px 1941px #FFF , 714px 1064px #FFF , 2757px 1195px #FFF , 2967px 2385px #FFF , 548px 294px #FFF , 1717px 386px #FFF , 1628px 2977px #FFF , 2606px 139px #FFF , 158px 2018px #FFF , 2798px 1792px #FFF , 990px 1553px #FFF , 2624px 1818px #FFF , 1780px 1486px #FFF , 223px 620px #FFF , 737px 2138px #FFF , 2305px 1129px #FFF , 2946px 600px #FFF , 2039px 2086px #FFF , 1209px 2536px #FFF , 1247px 516px #FFF , 923px 2146px #FFF , 1392px 2003px #FFF , 1287px 2326px #FFF , 2361px 1518px #FFF , 1029px 954px #FFF , 734px 2651px #FFF , 1049px 1124px #FFF , 1234px 1198px #FFF , 642px 2404px #FFF , 2818px 267px #FFF , 1597px 1564px #FFF , 2274px 2937px #FFF , 94px 2072px #FFF , 114px 793px #FFF , 2071px 1278px #FFF , 1223px 2045px #FFF , 1547px 1807px #FFF , 927px 2021px #FFF , 498px 2869px #FFF , 2964px 604px #FFF , 758px 1659px #FFF , 2198px 1639px #FFF , 1851px 884px #FFF , 540px 1219px #FFF , 1974px 652px #FFF , 822px 2312px #FFF , 2579px 1692px #FFF , 61px 235px #FFF , 61px 780px #FFF , 986px 762px #FFF , 903px 281px #FFF , 2918px 735px #FFF , 2401px 959px #FFF , 2834px 2011px #FFF , 1776px 1017px #FFF , 457px 749px #FFF , 96px 1023px #FFF , 533px 2689px #FFF , 2246px 2065px #FFF , 2282px 1709px #FFF , 2665px 557px #FFF , 588px 2127px #FFF , 421px 869px #FFF , 293px 1921px #FFF , 1116px 1021px #FFF , 307px 2181px #FFF , 2950px 2363px #FFF , 2434px 949px #FFF , 1336px 1978px #FFF , 1464px 1461px #FFF , 861px 800px #FFF , 2370px 2758px #FFF , 504px 592px #FFF , 1384px 2639px #FFF , 1763px 927px #FFF , 1421px 2745px #FFF , 2254px 2815px #FFF , 2022px 2981px #FFF , 1284px 2681px #FFF , 1755px 2235px #FFF , 2372px 2446px #FFF , 1168px 2055px #FFF , 1465px 1016px #FFF , 2444px 532px #FFF , 389px 739px #FFF , 2323px 374px #FFF , 1228px 1384px #FFF , 2549px 2592px #FFF , 2269px 2514px #FFF , 939px 2695px #FFF , 2646px 2560px #FFF , 1321px 1083px #FFF , 2352px 593px #FFF , 1555px 2041px #FFF , 2145px 920px #FFF , 234px 2455px #FFF , 2639px 1238px #FFF , 665px 237px #FFF , 2900px 284px #FFF , 2233px 1057px #FFF , 210px 2168px #FFF , 1797px 1767px #FFF , 2166px 1553px #FFF , 1075px 2378px #FFF , 483px 926px #FFF , 1842px 268px #FFF , 2356px 2345px #FFF , 2664px 1531px #FFF , 2625px 1913px #FFF , 825px 35px #FFF , 548px 2452px #FFF , 1287px 1441px #FFF , 2614px 558px #FFF , 2190px 274px #FFF , 329px 2250px #FFF , 2996px 1775px #FFF , 2308px 520px #FFF , 1369px 397px #FFF , 1350px 2704px #FFF , 2482px 1969px #FFF , 1907px 2476px #FFF , 1909px 53px #FFF , 922px 1102px #FFF , 1559px 772px #FFF , 408px 2036px #FFF , 1890px 2026px #FFF , 2255px 2055px #FFF , 2187px 2341px #FFF , 165px 256px #FFF , 1215px 2050px #FFF , 2344px 2995px #FFF , 1744px 1356px #FFF , 2266px 2126px #FFF , 1260px 2653px #FFF , 1743px 2175px #FFF , 2015px 1129px #FFF , 1041px 2507px #FFF , 1273px 2754px #FFF , 2068px 1334px #FFF , 507px 2677px #FFF , 1661px 1500px #FFF , 2534px 791px #FFF , 279px 628px #FFF , 312px 1912px #FFF , 1133px 617px #FFF , 2294px 2763px #FFF , 2431px 1090px #FFF , 99px 82px #FFF , 145px 1521px #FFF , 2053px 2575px #FFF , 592px 2852px #FFF , 619px 1230px #FFF , 1816px 1854px #FFF , 2844px 138px #FFF , 201px 1190px #FFF , 2520px 2288px #FFF , 2489px 2495px #FFF , 588px 1977px #FFF , 1004px 2406px #FFF , 2422px 456px #FFF , 727px 2116px #FFF , 1184px 967px #FFF , 2530px 2178px #FFF , 2014px 2318px #FFF , 1820px 123px #FFF , 2003px 1047px #FFF , 323px 1290px #FFF , 348px 219px #FFF , 1354px 2122px #FFF , 1667px 1084px #FFF , 2738px 728px #FFF , 2449px 1308px #FFF , 343px 2067px #FFF , 1560px 171px #FFF , 2145px 1186px #FFF , 862px 1122px #FFF , 682px 1558px #FFF , 245px 207px #FFF , 1649px 2710px #FFF , 189px 2414px #FFF , 1111px 779px #FFF , 661px 93px #FFF , 693px 2366px #FFF , 1107px 91px #FFF , 1650px 841px #FFF , 2326px 2156px #FFF , 1809px 2896px #FFF , 822px 1089px #FFF , 122px 369px #FFF , 251px 1374px #FFF , 1617px 1574px #FFF , 1049px 211px #FFF , 2137px 1464px #FFF , 567px 648px #FFF , 1266px 2609px #FFF , 1023px 1636px #FFF , 486px 1878px #FFF , 1474px 1021px #FFF , 1210px 1809px #FFF , 1027px 487px #FFF , 2151px 1336px #FFF , 1413px 2544px #FFF , 1125px 119px #FFF , 1451px 498px #FFF , 1118px 773px #FFF , 798px 76px #FFF , 2841px 719px #FFF , 995px 2405px #FFF , 93px 2254px #FFF , 355px 1120px #FFF , 1647px 2452px #FFF , 2049px 2323px #FFF , 674px 2598px #FFF , 429px 1522px #FFF , 2085px 726px #FFF , 2396px 746px #FFF , 245px 1877px #FFF , 666px 2721px #FFF , 1655px 2248px #FFF , 1471px 2608px #FFF , 462px 2968px #FFF , 2662px 1825px #FFF , 1046px 2283px #FFF , 1398px 2097px #FFF , 165px 886px #FFF , 2528px 1572px #FFF , 2840px 1882px #FFF , 2404px 1351px #FFF , 1747px 1197px #FFF , 2023px 1946px #FFF , 928px 466px #FFF , 1254px 2604px #FFF , 2010px 2200px #FFF , 207px 1883px #FFF , 93px 1611px #FFF , 2119px 2002px #FFF , 683px 760px #FFF , 929px 901px #FFF , 1520px 589px #FFF , 2238px 2685px #FFF , 2100px 1711px #FFF , 2355px 2249px #FFF , 928px 2535px #FFF , 2078px 451px #FFF , 1214px 748px #FFF , 991px 2792px #FFF , 1617px 8px #FFF , 84px 628px #FFF , 2443px 2252px #FFF , 1809px 1252px #FFF , 497px 1446px #FFF , 328px 1522px #FFF , 1516px 633px #FFF , 2026px 2597px #FFF , 782px 2602px #FFF , 2896px 1105px #FFF , 1276px 1878px #FFF , 557px 1315px #FFF , 1718px 1872px #FFF , 510px 56px #FFF , 1716px 613px #FFF , 1720px 1821px #FFF , 1650px 305px #FFF , 1990px 370px #FFF , 2787px 2474px #FFF , 2585px 1820px #FFF , 618px 2617px #FFF , 2656px 1875px #FFF , 360px 1138px #FFF , 219px 2854px #FFF , 2435px 1898px #FFF , 2636px 2818px #FFF , 1253px 2299px #FFF , 2043px 840px #FFF , 1310px 1275px #FFF , 2402px 2950px #FFF , 941px 2439px #FFF , 1499px 1143px #FFF , 1468px 589px #FFF , 525px 2337px #FFF , 787px 2256px #FFF , 2879px 2959px #FFF , 2355px 1386px #FFF , 1919px 2058px #FFF , 545px 2421px #FFF , 2870px 1031px #FFF , 1119px 2933px #FFF , 89px 2503px #FFF , 525px 1547px #FFF , 89px 1431px #FFF , 1925px 1462px #FFF , 2108px 1408px #FFF , 84px 2174px #FFF , 2751px 1116px #FFF , 2796px 2854px #FFF , 1289px 902px #FFF , 1826px 1859px #FFF , 2870px 1998px #FFF , 2084px 907px #FFF , 1772px 770px #FFF , 307px 698px #FFF , 41px 2482px #FFF , 1565px 912px #FFF , 1501px 1102px #FFF , 1918px 975px #FFF , 774px 2975px #FFF , 2055px 1724px #FFF , 139px 1327px #FFF , 673px 633px #FFF , 1123px 2124px #FFF , 2123px 809px #FFF , 1032px 957px #FFF , 40px 1250px #FFF , 140px 1348px #FFF , 2852px 2795px #FFF , 271px 653px #FFF , 2491px 65px #FFF , 792px 1695px #FFF , 2138px 2573px #FFF , 2976px 145px #FFF , 1805px 2628px #FFF , 1193px 2472px #FFF , 2103px 2927px #FFF , 142px 1423px #FFF , 872px 813px #FFF , 356px 330px #FFF , 884px 723px #FFF , 1529px 2739px #FFF , 1089px 1915px #FFF , 1470px 209px #FFF , 977px 338px #FFF , 933px 2204px #FFF , 1602px 2900px #FFF , 1207px 2738px #FFF , 2303px 1783px #FFF , 2991px 311px #FFF , 1545px 512px #FFF , 2935px 2936px #FFF , 1458px 726px #FFF , 1106px 362px #FFF , 1721px 602px #FFF , 927px 1669px #FFF , 2274px 2630px #FFF , 326px 1253px #FFF , 2719px 1127px #FFF , 1630px 196px #FFF , 351px 2693px #FFF , 94px 2271px #FFF , 2259px 2069px #FFF , 1827px 380px #FFF , 1150px 1844px #FFF , 2147px 1714px #FFF , 528px 1770px #FFF , 1949px 2417px #FFF , 1476px 2318px #FFF , 2615px 2265px #FFF , 1202px 44px #FFF , 1116px 1708px #FFF , 1615px 322px #FFF , 2424px 1883px #FFF , 1290px 1074px #FFF , 1702px 1608px #FFF , 2703px 776px #FFF , 1912px 2952px #FFF , 2646px 1354px #FFF , 1150px 620px #FFF , 1496px 782px #FFF , 83px 2262px #FFF , 329px 422px #FFF , 219px 1938px #FFF , 2250px 1061px #FFF , 1785px 2136px #FFF , 346px 959px #FFF , 2383px 2660px #FFF , 1208px 2617px #FFF , 2525px 2267px #FFF , 2847px 1258px #FFF , 1012px 669px #FFF , 1962px 1730px #FFF , 2149px 3px #FFF , 1589px 1900px #FFF , 1901px 175px #FFF , 1163px 968px #FFF , 1598px 278px #FFF , 1214px 322px #FFF;
  -webkit-animation: snow 120s linear infinite;
          animation: snow 120s linear infinite;
}
#smolsnow:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 691px 900px #FFF , 1652px 889px #FFF , 1237px 1962px #FFF , 1128px 1642px #FFF , 1377px 909px #FFF , 479px 2091px #FFF , 2740px 2076px #FFF , 1278px 239px #FFF , 120px 615px #FFF , 1749px 1155px #FFF , 919px 443px #FFF , 2627px 2322px #FFF , 2148px 406px #FFF , 2914px 2004px #FFF , 1991px 2713px #FFF , 1640px 429px #FFF , 2166px 2631px #FFF , 445px 2419px #FFF , 2804px 2362px #FFF , 2396px 2222px #FFF , 2653px 1916px #FFF , 2122px 1473px #FFF , 860px 2005px #FFF , 2257px 1507px #FFF , 1147px 2166px #FFF , 238px 432px #FFF , 534px 2572px #FFF , 1131px 302px #FFF , 987px 653px #FFF , 388px 2225px #FFF , 2615px 2281px #FFF , 104px 1205px #FFF , 288px 217px #FFF , 606px 1265px #FFF , 2708px 901px #FFF , 2235px 1957px #FFF , 1219px 2562px #FFF , 324px 1812px #FFF , 366px 2698px #FFF , 1540px 1671px #FFF , 1635px 1507px #FFF , 2856px 735px #FFF , 2772px 1535px #FFF , 2512px 1974px #FFF , 772px 2284px #FFF , 591px 913px #FFF , 2713px 843px #FFF , 2482px 536px #FFF , 2805px 1482px #FFF , 741px 1173px #FFF , 2234px 2883px #FFF , 68px 1340px #FFF , 1359px 2656px #FFF , 139px 1980px #FFF , 2467px 1339px #FFF , 553px 377px #FFF , 2699px 1401px #FFF , 1079px 1646px #FFF , 570px 2840px #FFF , 1913px 2103px #FFF , 1113px 2589px #FFF , 1472px 1305px #FFF , 1730px 1536px #FFF , 816px 1082px #FFF , 1293px 2114px #FFF , 2010px 2482px #FFF , 437px 140px #FFF , 699px 1997px #FFF , 2377px 1069px #FFF , 1195px 2888px #FFF , 1776px 972px #FFF , 658px 1782px #FFF , 30px 572px #FFF , 2296px 446px #FFF , 2981px 1210px #FFF , 1939px 2105px #FFF , 958px 1058px #FFF , 794px 2401px #FFF , 2525px 1168px #FFF , 2266px 733px #FFF , 147px 726px #FFF , 1094px 1514px #FFF , 1201px 1184px #FFF , 2721px 2031px #FFF , 611px 553px #FFF , 1423px 1827px #FFF , 805px 2737px #FFF , 2902px 456px #FFF , 462px 1042px #FFF , 2328px 74px #FFF , 1431px 2838px #FFF , 672px 2301px #FFF , 2318px 436px #FFF , 1713px 2701px #FFF , 1263px 542px #FFF , 2169px 469px #FFF , 614px 621px #FFF , 1012px 970px #FFF , 972px 1214px #FFF , 2369px 193px #FFF , 2234px 1873px #FFF , 1668px 587px #FFF , 2819px 1511px #FFF , 1281px 2717px #FFF , 2091px 276px #FFF , 1009px 1938px #FFF , 1561px 2640px #FFF , 245px 1819px #FFF , 2456px 2845px #FFF , 2886px 2181px #FFF , 554px 336px #FFF , 2161px 304px #FFF , 39px 1207px #FFF , 2125px 1003px #FFF , 2028px 46px #FFF , 339px 2435px #FFF , 359px 539px #FFF , 425px 1261px #FFF , 510px 236px #FFF , 2055px 1472px #FFF , 1864px 2423px #FFF , 33px 2465px #FFF , 1588px 2562px #FFF , 473px 990px #FFF , 1407px 556px #FFF , 561px 2791px #FFF , 583px 1348px #FFF , 1082px 720px #FFF , 1430px 1679px #FFF , 1346px 2315px #FFF , 1599px 1461px #FFF , 1255px 1694px #FFF , 893px 1024px #FFF , 2876px 1320px #FFF , 1662px 515px #FFF , 550px 300px #FFF , 293px 2033px #FFF , 449px 771px #FFF , 302px 379px #FFF , 1594px 1811px #FFF , 2000px 2755px #FFF , 1039px 2443px #FFF , 1424px 2373px #FFF , 2401px 55px #FFF , 490px 2453px #FFF , 1055px 354px #FFF , 816px 624px #FFF , 2530px 1842px #FFF , 1681px 1462px #FFF , 2729px 2567px #FFF , 1914px 2535px #FFF , 532px 2652px #FFF , 2857px 2995px #FFF , 2186px 2477px #FFF , 2389px 2804px #FFF , 1365px 1423px #FFF , 1393px 1187px #FFF , 2206px 2228px #FFF , 782px 1129px #FFF , 164px 1519px #FFF , 1708px 163px #FFF , 1561px 589px #FFF , 94px 1066px #FFF , 425px 1897px #FFF , 251px 1356px #FFF , 1428px 2487px #FFF , 759px 163px #FFF , 2985px 2464px #FFF , 2183px 1362px #FFF , 933px 1843px #FFF , 1668px 1282px #FFF , 113px 2440px #FFF , 1749px 144px #FFF , 2470px 2685px #FFF , 1199px 377px #FFF , 1447px 2268px #FFF , 1311px 53px #FFF , 65px 1976px #FFF , 2208px 1287px #FFF , 414px 1371px #FFF , 2662px 1640px #FFF , 1239px 129px #FFF , 2705px 1266px #FFF , 2334px 450px #FFF , 2368px 2524px #FFF , 1601px 2474px #FFF , 1392px 2847px #FFF , 1671px 2147px #FFF , 1104px 223px #FFF , 380px 156px #FFF , 1302px 2919px #FFF , 126px 49px #FFF , 1434px 1869px #FFF , 2005px 1549px #FFF , 2591px 1113px #FFF , 519px 1695px #FFF , 658px 1191px #FFF , 855px 1825px #FFF , 897px 1401px #FFF , 71px 549px #FFF , 476px 667px #FFF , 72px 2349px #FFF , 1216px 174px #FFF , 548px 667px #FFF , 1576px 371px #FFF , 2471px 2254px #FFF , 1310px 2191px #FFF , 423px 1504px #FFF , 1529px 1707px #FFF , 1585px 2735px #FFF , 2910px 40px #FFF , 2843px 1065px #FFF , 190px 845px #FFF , 1348px 403px #FFF , 1352px 1501px #FFF , 1238px 2777px #FFF , 782px 442px #FFF , 2932px 1696px #FFF , 2611px 700px #FFF , 2733px 1712px #FFF , 310px 1543px #FFF , 1153px 1238px #FFF , 2577px 2166px #FFF , 1506px 2649px #FFF , 576px 1867px #FFF , 100px 1131px #FFF , 2307px 1923px #FFF , 961px 1970px #FFF , 2168px 1388px #FFF , 387px 1455px #FFF , 2261px 2895px #FFF , 709px 355px #FFF , 2420px 2068px #FFF , 633px 1475px #FFF , 2459px 856px #FFF , 2253px 931px #FFF , 669px 64px #FFF , 551px 2269px #FFF , 2483px 1192px #FFF , 2018px 997px #FFF , 221px 568px #FFF , 1135px 748px #FFF , 2850px 778px #FFF , 1348px 2573px #FFF , 777px 1501px #FFF , 2115px 1596px #FFF , 1765px 1411px #FFF , 1531px 1244px #FFF , 252px 168px #FFF , 217px 2216px #FFF , 1410px 1432px #FFF , 2719px 549px #FFF , 1370px 2435px #FFF , 2170px 964px #FFF , 48px 839px #FFF , 2285px 2898px #FFF , 1405px 1925px #FFF , 1181px 437px #FFF , 1298px 753px #FFF , 2485px 806px #FFF , 1006px 538px #FFF , 565px 621px #FFF , 1732px 2365px #FFF , 315px 2905px #FFF , 1341px 2119px #FFF , 2953px 1260px #FFF , 2204px 2163px #FFF , 1056px 2158px #FFF , 108px 2395px #FFF , 1591px 1589px #FFF , 375px 2121px #FFF , 1282px 1571px #FFF , 580px 329px #FFF , 1821px 2693px #FFF , 1420px 333px #FFF , 2122px 2777px #FFF , 1145px 2003px #FFF , 2685px 2207px #FFF , 1183px 2412px #FFF , 1955px 1903px #FFF , 1307px 241px #FFF , 2305px 1490px #FFF , 202px 1091px #FFF , 2886px 1587px #FFF , 1335px 1417px #FFF , 1080px 1969px #FFF , 1221px 23px #FFF , 706px 323px #FFF , 1882px 2842px #FFF , 2354px 2250px #FFF , 2703px 203px #FFF , 1883px 461px #FFF , 585px 2472px #FFF , 2502px 2846px #FFF , 279px 1982px #FFF , 891px 1727px #FFF , 911px 831px #FFF , 1018px 2991px #FFF , 998px 521px #FFF , 2496px 1471px #FFF , 1067px 2287px #FFF , 322px 2704px #FFF , 2234px 2982px #FFF , 973px 1726px #FFF , 294px 2267px #FFF , 1852px 2325px #FFF , 989px 1344px #FFF , 536px 2271px #FFF , 1725px 2902px #FFF , 222px 2141px #FFF , 2826px 1501px #FFF , 2864px 1771px #FFF , 1935px 2597px #FFF , 1254px 180px #FFF , 1129px 1891px #FFF , 2978px 1941px #FFF , 714px 1064px #FFF , 2757px 1195px #FFF , 2967px 2385px #FFF , 548px 294px #FFF , 1717px 386px #FFF , 1628px 2977px #FFF , 2606px 139px #FFF , 158px 2018px #FFF , 2798px 1792px #FFF , 990px 1553px #FFF , 2624px 1818px #FFF , 1780px 1486px #FFF , 223px 620px #FFF , 737px 2138px #FFF , 2305px 1129px #FFF , 2946px 600px #FFF , 2039px 2086px #FFF , 1209px 2536px #FFF , 1247px 516px #FFF , 923px 2146px #FFF , 1392px 2003px #FFF , 1287px 2326px #FFF , 2361px 1518px #FFF , 1029px 954px #FFF , 734px 2651px #FFF , 1049px 1124px #FFF , 1234px 1198px #FFF , 642px 2404px #FFF , 2818px 267px #FFF , 1597px 1564px #FFF , 2274px 2937px #FFF , 94px 2072px #FFF , 114px 793px #FFF , 2071px 1278px #FFF , 1223px 2045px #FFF , 1547px 1807px #FFF , 927px 2021px #FFF , 498px 2869px #FFF , 2964px 604px #FFF , 758px 1659px #FFF , 2198px 1639px #FFF , 1851px 884px #FFF , 540px 1219px #FFF , 1974px 652px #FFF , 822px 2312px #FFF , 2579px 1692px #FFF , 61px 235px #FFF , 61px 780px #FFF , 986px 762px #FFF , 903px 281px #FFF , 2918px 735px #FFF , 2401px 959px #FFF , 2834px 2011px #FFF , 1776px 1017px #FFF , 457px 749px #FFF , 96px 1023px #FFF , 533px 2689px #FFF , 2246px 2065px #FFF , 2282px 1709px #FFF , 2665px 557px #FFF , 588px 2127px #FFF , 421px 869px #FFF , 293px 1921px #FFF , 1116px 1021px #FFF , 307px 2181px #FFF , 2950px 2363px #FFF , 2434px 949px #FFF , 1336px 1978px #FFF , 1464px 1461px #FFF , 861px 800px #FFF , 2370px 2758px #FFF , 504px 592px #FFF , 1384px 2639px #FFF , 1763px 927px #FFF , 1421px 2745px #FFF , 2254px 2815px #FFF , 2022px 2981px #FFF , 1284px 2681px #FFF , 1755px 2235px #FFF , 2372px 2446px #FFF , 1168px 2055px #FFF , 1465px 1016px #FFF , 2444px 532px #FFF , 389px 739px #FFF , 2323px 374px #FFF , 1228px 1384px #FFF , 2549px 2592px #FFF , 2269px 2514px #FFF , 939px 2695px #FFF , 2646px 2560px #FFF , 1321px 1083px #FFF , 2352px 593px #FFF , 1555px 2041px #FFF , 2145px 920px #FFF , 234px 2455px #FFF , 2639px 1238px #FFF , 665px 237px #FFF , 2900px 284px #FFF , 2233px 1057px #FFF , 210px 2168px #FFF , 1797px 1767px #FFF , 2166px 1553px #FFF , 1075px 2378px #FFF , 483px 926px #FFF , 1842px 268px #FFF , 2356px 2345px #FFF , 2664px 1531px #FFF , 2625px 1913px #FFF , 825px 35px #FFF , 548px 2452px #FFF , 1287px 1441px #FFF , 2614px 558px #FFF , 2190px 274px #FFF , 329px 2250px #FFF , 2996px 1775px #FFF , 2308px 520px #FFF , 1369px 397px #FFF , 1350px 2704px #FFF , 2482px 1969px #FFF , 1907px 2476px #FFF , 1909px 53px #FFF , 922px 1102px #FFF , 1559px 772px #FFF , 408px 2036px #FFF , 1890px 2026px #FFF , 2255px 2055px #FFF , 2187px 2341px #FFF , 165px 256px #FFF , 1215px 2050px #FFF , 2344px 2995px #FFF , 1744px 1356px #FFF , 2266px 2126px #FFF , 1260px 2653px #FFF , 1743px 2175px #FFF , 2015px 1129px #FFF , 1041px 2507px #FFF , 1273px 2754px #FFF , 2068px 1334px #FFF , 507px 2677px #FFF , 1661px 1500px #FFF , 2534px 791px #FFF , 279px 628px #FFF , 312px 1912px #FFF , 1133px 617px #FFF , 2294px 2763px #FFF , 2431px 1090px #FFF , 99px 82px #FFF , 145px 1521px #FFF , 2053px 2575px #FFF , 592px 2852px #FFF , 619px 1230px #FFF , 1816px 1854px #FFF , 2844px 138px #FFF , 201px 1190px #FFF , 2520px 2288px #FFF , 2489px 2495px #FFF , 588px 1977px #FFF , 1004px 2406px #FFF , 2422px 456px #FFF , 727px 2116px #FFF , 1184px 967px #FFF , 2530px 2178px #FFF , 2014px 2318px #FFF , 1820px 123px #FFF , 2003px 1047px #FFF , 323px 1290px #FFF , 348px 219px #FFF , 1354px 2122px #FFF , 1667px 1084px #FFF , 2738px 728px #FFF , 2449px 1308px #FFF , 343px 2067px #FFF , 1560px 171px #FFF , 2145px 1186px #FFF , 862px 1122px #FFF , 682px 1558px #FFF , 245px 207px #FFF , 1649px 2710px #FFF , 189px 2414px #FFF , 1111px 779px #FFF , 661px 93px #FFF , 693px 2366px #FFF , 1107px 91px #FFF , 1650px 841px #FFF , 2326px 2156px #FFF , 1809px 2896px #FFF , 822px 1089px #FFF , 122px 369px #FFF , 251px 1374px #FFF , 1617px 1574px #FFF , 1049px 211px #FFF , 2137px 1464px #FFF , 567px 648px #FFF , 1266px 2609px #FFF , 1023px 1636px #FFF , 486px 1878px #FFF , 1474px 1021px #FFF , 1210px 1809px #FFF , 1027px 487px #FFF , 2151px 1336px #FFF , 1413px 2544px #FFF , 1125px 119px #FFF , 1451px 498px #FFF , 1118px 773px #FFF , 798px 76px #FFF , 2841px 719px #FFF , 995px 2405px #FFF , 93px 2254px #FFF , 355px 1120px #FFF , 1647px 2452px #FFF , 2049px 2323px #FFF , 674px 2598px #FFF , 429px 1522px #FFF , 2085px 726px #FFF , 2396px 746px #FFF , 245px 1877px #FFF , 666px 2721px #FFF , 1655px 2248px #FFF , 1471px 2608px #FFF , 462px 2968px #FFF , 2662px 1825px #FFF , 1046px 2283px #FFF , 1398px 2097px #FFF , 165px 886px #FFF , 2528px 1572px #FFF , 2840px 1882px #FFF , 2404px 1351px #FFF , 1747px 1197px #FFF , 2023px 1946px #FFF , 928px 466px #FFF , 1254px 2604px #FFF , 2010px 2200px #FFF , 207px 1883px #FFF , 93px 1611px #FFF , 2119px 2002px #FFF , 683px 760px #FFF , 929px 901px #FFF , 1520px 589px #FFF , 2238px 2685px #FFF , 2100px 1711px #FFF , 2355px 2249px #FFF , 928px 2535px #FFF , 2078px 451px #FFF , 1214px 748px #FFF , 991px 2792px #FFF , 1617px 8px #FFF , 84px 628px #FFF , 2443px 2252px #FFF , 1809px 1252px #FFF , 497px 1446px #FFF , 328px 1522px #FFF , 1516px 633px #FFF , 2026px 2597px #FFF , 782px 2602px #FFF , 2896px 1105px #FFF , 1276px 1878px #FFF , 557px 1315px #FFF , 1718px 1872px #FFF , 510px 56px #FFF , 1716px 613px #FFF , 1720px 1821px #FFF , 1650px 305px #FFF , 1990px 370px #FFF , 2787px 2474px #FFF , 2585px 1820px #FFF , 618px 2617px #FFF , 2656px 1875px #FFF , 360px 1138px #FFF , 219px 2854px #FFF , 2435px 1898px #FFF , 2636px 2818px #FFF , 1253px 2299px #FFF , 2043px 840px #FFF , 1310px 1275px #FFF , 2402px 2950px #FFF , 941px 2439px #FFF , 1499px 1143px #FFF , 1468px 589px #FFF , 525px 2337px #FFF , 787px 2256px #FFF , 2879px 2959px #FFF , 2355px 1386px #FFF , 1919px 2058px #FFF , 545px 2421px #FFF , 2870px 1031px #FFF , 1119px 2933px #FFF , 89px 2503px #FFF , 525px 1547px #FFF , 89px 1431px #FFF , 1925px 1462px #FFF , 2108px 1408px #FFF , 84px 2174px #FFF , 2751px 1116px #FFF , 2796px 2854px #FFF , 1289px 902px #FFF , 1826px 1859px #FFF , 2870px 1998px #FFF , 2084px 907px #FFF , 1772px 770px #FFF , 307px 698px #FFF , 41px 2482px #FFF , 1565px 912px #FFF , 1501px 1102px #FFF , 1918px 975px #FFF , 774px 2975px #FFF , 2055px 1724px #FFF , 139px 1327px #FFF , 673px 633px #FFF , 1123px 2124px #FFF , 2123px 809px #FFF , 1032px 957px #FFF , 40px 1250px #FFF , 140px 1348px #FFF , 2852px 2795px #FFF , 271px 653px #FFF , 2491px 65px #FFF , 792px 1695px #FFF , 2138px 2573px #FFF , 2976px 145px #FFF , 1805px 2628px #FFF , 1193px 2472px #FFF , 2103px 2927px #FFF , 142px 1423px #FFF , 872px 813px #FFF , 356px 330px #FFF , 884px 723px #FFF , 1529px 2739px #FFF , 1089px 1915px #FFF , 1470px 209px #FFF , 977px 338px #FFF , 933px 2204px #FFF , 1602px 2900px #FFF , 1207px 2738px #FFF , 2303px 1783px #FFF , 2991px 311px #FFF , 1545px 512px #FFF , 2935px 2936px #FFF , 1458px 726px #FFF , 1106px 362px #FFF , 1721px 602px #FFF , 927px 1669px #FFF , 2274px 2630px #FFF , 326px 1253px #FFF , 2719px 1127px #FFF , 1630px 196px #FFF , 351px 2693px #FFF , 94px 2271px #FFF , 2259px 2069px #FFF , 1827px 380px #FFF , 1150px 1844px #FFF , 2147px 1714px #FFF , 528px 1770px #FFF , 1949px 2417px #FFF , 1476px 2318px #FFF , 2615px 2265px #FFF , 1202px 44px #FFF , 1116px 1708px #FFF , 1615px 322px #FFF , 2424px 1883px #FFF , 1290px 1074px #FFF , 1702px 1608px #FFF , 2703px 776px #FFF , 1912px 2952px #FFF , 2646px 1354px #FFF , 1150px 620px #FFF , 1496px 782px #FFF , 83px 2262px #FFF , 329px 422px #FFF , 219px 1938px #FFF , 2250px 1061px #FFF , 1785px 2136px #FFF , 346px 959px #FFF , 2383px 2660px #FFF , 1208px 2617px #FFF , 2525px 2267px #FFF , 2847px 1258px #FFF , 1012px 669px #FFF , 1962px 1730px #FFF , 2149px 3px #FFF , 1589px 1900px #FFF , 1901px 175px #FFF , 1163px 968px #FFF , 1598px 278px #FFF , 1214px 322px #FFF;
}

#midsnow {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2781px 1216px #FFF , 333px 955px #FFF , 2753px 12px #FFF , 1158px 1337px #FFF , 362px 1800px #FFF , 2087px 420px #FFF , 815px 2031px #FFF , 1083px 2911px #FFF , 1695px 689px #FFF , 2027px 456px #FFF , 1459px 1143px #FFF , 1126px 1939px #FFF , 1201px 1012px #FFF , 434px 1039px #FFF , 1273px 1693px #FFF , 162px 2969px #FFF , 1310px 1379px #FFF , 99px 1618px #FFF , 1512px 1630px #FFF , 1166px 683px #FFF , 1631px 123px #FFF , 1002px 2363px #FFF , 2746px 167px #FFF , 1840px 1912px #FFF , 2935px 2180px #FFF , 1902px 1206px #FFF , 714px 2679px #FFF , 223px 282px #FFF , 1025px 1175px #FFF , 2469px 1481px #FFF , 1519px 621px #FFF , 1204px 129px #FFF , 2094px 792px #FFF , 2498px 902px #FFF , 2431px 499px #FFF , 2245px 1117px #FFF , 1551px 2101px #FFF , 2692px 2792px #FFF , 1703px 2667px #FFF , 2499px 2193px #FFF , 2503px 806px #FFF , 209px 866px #FFF , 1677px 2614px #FFF , 1315px 2204px #FFF , 1885px 1105px #FFF , 663px 2055px #FFF , 2789px 446px #FFF , 397px 1165px #FFF , 2587px 1484px #FFF , 1679px 545px #FFF , 1096px 781px #FFF , 2010px 932px #FFF , 2413px 2587px #FFF , 131px 69px #FFF , 428px 1470px #FFF , 1991px 1970px #FFF , 1804px 1328px #FFF , 1263px 1253px #FFF , 2901px 1203px #FFF , 648px 2202px #FFF , 2213px 2051px #FFF , 49px 1342px #FFF , 2728px 862px #FFF , 798px 2110px #FFF , 2896px 224px #FFF , 1474px 708px #FFF , 1772px 2247px #FFF , 2291px 1147px #FFF , 2445px 428px #FFF , 2834px 1325px #FFF , 2658px 2942px #FFF , 2782px 2955px #FFF , 198px 2016px #FFF , 1290px 1976px #FFF , 1300px 2248px #FFF , 2781px 137px #FFF , 752px 2520px #FFF , 623px 2946px #FFF , 967px 2984px #FFF , 1754px 1270px #FFF , 1924px 262px #FFF , 2914px 2034px #FFF , 963px 1501px #FFF , 1655px 571px #FFF , 1085px 226px #FFF , 750px 937px #FFF , 1652px 242px #FFF , 231px 160px #FFF , 2367px 2612px #FFF , 891px 2148px #FFF , 1372px 654px #FFF , 1168px 542px #FFF , 2091px 230px #FFF , 930px 702px #FFF , 26px 876px #FFF , 1360px 1249px #FFF , 403px 748px #FFF , 2330px 1709px #FFF , 921px 2662px #FFF , 1783px 156px #FFF , 2657px 1970px #FFF , 1225px 1048px #FFF , 1278px 2507px #FFF , 425px 213px #FFF , 2251px 222px #FFF , 2912px 26px #FFF , 2651px 2577px #FFF , 882px 51px #FFF , 714px 886px #FFF , 2463px 503px #FFF , 1941px 994px #FFF , 1573px 1248px #FFF , 325px 1783px #FFF , 964px 203px #FFF , 123px 252px #FFF , 1465px 1230px #FFF , 173px 2126px #FFF , 2702px 2118px #FFF , 259px 1106px #FFF , 846px 1569px #FFF , 1703px 2964px #FFF , 1874px 1867px #FFF , 2904px 986px #FFF , 929px 1178px #FFF , 2202px 107px #FFF , 2981px 2606px #FFF , 1815px 1446px #FFF , 2548px 1630px #FFF , 670px 93px #FFF , 2233px 1059px #FFF , 2415px 1016px #FFF , 1218px 1750px #FFF , 921px 271px #FFF , 1240px 13px #FFF , 2679px 640px #FFF , 1023px 542px #FFF , 2974px 2982px #FFF , 2666px 1242px #FFF , 286px 659px #FFF , 67px 1929px #FFF , 934px 2480px #FFF , 590px 2189px #FFF , 248px 1920px #FFF , 78px 1638px #FFF , 603px 2802px #FFF , 2201px 532px #FFF , 1126px 2095px #FFF , 1569px 242px #FFF , 332px 2791px #FFF , 992px 1753px #FFF , 72px 2849px #FFF , 675px 2154px #FFF , 1587px 13px #FFF , 1434px 635px #FFF , 934px 1112px #FFF , 2938px 776px #FFF , 1305px 1952px #FFF , 1908px 1263px #FFF , 1800px 1079px #FFF , 2728px 2277px #FFF , 1036px 125px #FFF , 629px 1995px #FFF , 838px 914px #FFF , 2893px 1214px #FFF , 2254px 2736px #FFF , 612px 1248px #FFF , 2776px 2128px #FFF , 625px 2955px #FFF , 1015px 1629px #FFF , 2882px 786px #FFF , 441px 1404px #FFF , 1692px 1133px #FFF , 2754px 529px #FFF , 407px 2794px #FFF , 593px 2378px #FFF , 1276px 551px #FFF , 1284px 1729px #FFF , 1837px 77px #FFF , 2506px 1240px #FFF , 1060px 2404px #FFF , 2491px 1121px #FFF , 829px 2034px #FFF , 2168px 1164px #FFF , 1439px 2719px #FFF , 2168px 928px #FFF , 408px 582px #FFF , 2447px 2575px #FFF , 166px 1008px #FFF , 1434px 1474px #FFF , 30px 2377px #FFF , 2303px 514px #FFF , 541px 880px #FFF , 1375px 1689px #FFF , 2015px 752px #FFF , 236px 1932px #FFF , 1905px 2329px #FFF , 2981px 2157px #FFF , 2644px 2772px #FFF , 724px 2250px #FFF , 1595px 2376px #FFF;
  -webkit-animation: snow 200s linear infinite;
          animation: snow 200s linear infinite;
}
#midsnow:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2781px 1216px #FFF , 333px 955px #FFF , 2753px 12px #FFF , 1158px 1337px #FFF , 362px 1800px #FFF , 2087px 420px #FFF , 815px 2031px #FFF , 1083px 2911px #FFF , 1695px 689px #FFF , 2027px 456px #FFF , 1459px 1143px #FFF , 1126px 1939px #FFF , 1201px 1012px #FFF , 434px 1039px #FFF , 1273px 1693px #FFF , 162px 2969px #FFF , 1310px 1379px #FFF , 99px 1618px #FFF , 1512px 1630px #FFF , 1166px 683px #FFF , 1631px 123px #FFF , 1002px 2363px #FFF , 2746px 167px #FFF , 1840px 1912px #FFF , 2935px 2180px #FFF , 1902px 1206px #FFF , 714px 2679px #FFF , 223px 282px #FFF , 1025px 1175px #FFF , 2469px 1481px #FFF , 1519px 621px #FFF , 1204px 129px #FFF , 2094px 792px #FFF , 2498px 902px #FFF , 2431px 499px #FFF , 2245px 1117px #FFF , 1551px 2101px #FFF , 2692px 2792px #FFF , 1703px 2667px #FFF , 2499px 2193px #FFF , 2503px 806px #FFF , 209px 866px #FFF , 1677px 2614px #FFF , 1315px 2204px #FFF , 1885px 1105px #FFF , 663px 2055px #FFF , 2789px 446px #FFF , 397px 1165px #FFF , 2587px 1484px #FFF , 1679px 545px #FFF , 1096px 781px #FFF , 2010px 932px #FFF , 2413px 2587px #FFF , 131px 69px #FFF , 428px 1470px #FFF , 1991px 1970px #FFF , 1804px 1328px #FFF , 1263px 1253px #FFF , 2901px 1203px #FFF , 648px 2202px #FFF , 2213px 2051px #FFF , 49px 1342px #FFF , 2728px 862px #FFF , 798px 2110px #FFF , 2896px 224px #FFF , 1474px 708px #FFF , 1772px 2247px #FFF , 2291px 1147px #FFF , 2445px 428px #FFF , 2834px 1325px #FFF , 2658px 2942px #FFF , 2782px 2955px #FFF , 198px 2016px #FFF , 1290px 1976px #FFF , 1300px 2248px #FFF , 2781px 137px #FFF , 752px 2520px #FFF , 623px 2946px #FFF , 967px 2984px #FFF , 1754px 1270px #FFF , 1924px 262px #FFF , 2914px 2034px #FFF , 963px 1501px #FFF , 1655px 571px #FFF , 1085px 226px #FFF , 750px 937px #FFF , 1652px 242px #FFF , 231px 160px #FFF , 2367px 2612px #FFF , 891px 2148px #FFF , 1372px 654px #FFF , 1168px 542px #FFF , 2091px 230px #FFF , 930px 702px #FFF , 26px 876px #FFF , 1360px 1249px #FFF , 403px 748px #FFF , 2330px 1709px #FFF , 921px 2662px #FFF , 1783px 156px #FFF , 2657px 1970px #FFF , 1225px 1048px #FFF , 1278px 2507px #FFF , 425px 213px #FFF , 2251px 222px #FFF , 2912px 26px #FFF , 2651px 2577px #FFF , 882px 51px #FFF , 714px 886px #FFF , 2463px 503px #FFF , 1941px 994px #FFF , 1573px 1248px #FFF , 325px 1783px #FFF , 964px 203px #FFF , 123px 252px #FFF , 1465px 1230px #FFF , 173px 2126px #FFF , 2702px 2118px #FFF , 259px 1106px #FFF , 846px 1569px #FFF , 1703px 2964px #FFF , 1874px 1867px #FFF , 2904px 986px #FFF , 929px 1178px #FFF , 2202px 107px #FFF , 2981px 2606px #FFF , 1815px 1446px #FFF , 2548px 1630px #FFF , 670px 93px #FFF , 2233px 1059px #FFF , 2415px 1016px #FFF , 1218px 1750px #FFF , 921px 271px #FFF , 1240px 13px #FFF , 2679px 640px #FFF , 1023px 542px #FFF , 2974px 2982px #FFF , 2666px 1242px #FFF , 286px 659px #FFF , 67px 1929px #FFF , 934px 2480px #FFF , 590px 2189px #FFF , 248px 1920px #FFF , 78px 1638px #FFF , 603px 2802px #FFF , 2201px 532px #FFF , 1126px 2095px #FFF , 1569px 242px #FFF , 332px 2791px #FFF , 992px 1753px #FFF , 72px 2849px #FFF , 675px 2154px #FFF , 1587px 13px #FFF , 1434px 635px #FFF , 934px 1112px #FFF , 2938px 776px #FFF , 1305px 1952px #FFF , 1908px 1263px #FFF , 1800px 1079px #FFF , 2728px 2277px #FFF , 1036px 125px #FFF , 629px 1995px #FFF , 838px 914px #FFF , 2893px 1214px #FFF , 2254px 2736px #FFF , 612px 1248px #FFF , 2776px 2128px #FFF , 625px 2955px #FFF , 1015px 1629px #FFF , 2882px 786px #FFF , 441px 1404px #FFF , 1692px 1133px #FFF , 2754px 529px #FFF , 407px 2794px #FFF , 593px 2378px #FFF , 1276px 551px #FFF , 1284px 1729px #FFF , 1837px 77px #FFF , 2506px 1240px #FFF , 1060px 2404px #FFF , 2491px 1121px #FFF , 829px 2034px #FFF , 2168px 1164px #FFF , 1439px 2719px #FFF , 2168px 928px #FFF , 408px 582px #FFF , 2447px 2575px #FFF , 166px 1008px #FFF , 1434px 1474px #FFF , 30px 2377px #FFF , 2303px 514px #FFF , 541px 880px #FFF , 1375px 1689px #FFF , 2015px 752px #FFF , 236px 1932px #FFF , 1905px 2329px #FFF , 2981px 2157px #FFF , 2644px 2772px #FFF , 724px 2250px #FFF , 1595px 2376px #FFF;
}

#bigsnow {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 444px 812px #FFF , 783px 1952px #FFF , 1969px 100px #FFF , 2378px 1725px #FFF , 1040px 2680px #FFF , 1803px 2786px #FFF , 2213px 2804px #FFF , 2037px 259px #FFF , 1528px 1432px #FFF , 2650px 2149px #FFF , 2708px 2621px #FFF , 357px 457px #FFF , 1851px 1472px #FFF , 2425px 1277px #FFF , 1053px 2101px #FFF , 1285px 2430px #FFF , 938px 2708px #FFF , 2726px 264px #FFF , 956px 984px #FFF , 2783px 446px #FFF , 78px 1571px #FFF , 1805px 92px #FFF , 1277px 1314px #FFF , 1947px 1384px #FFF , 703px 2831px #FFF , 498px 2566px #FFF , 2113px 1282px #FFF , 1625px 852px #FFF , 1136px 366px #FFF , 401px 2814px #FFF , 1445px 2363px #FFF , 1249px 67px #FFF , 1883px 1646px #FFF , 2239px 2122px #FFF , 2805px 2382px #FFF , 1959px 339px #FFF , 2318px 660px #FFF , 2948px 2507px #FFF , 970px 871px #FFF , 1399px 1302px #FFF , 2531px 2594px #FFF , 1157px 2282px #FFF , 1227px 1414px #FFF , 389px 2134px #FFF , 318px 2721px #FFF , 717px 301px #FFF , 979px 546px #FFF , 670px 1455px #FFF , 1113px 578px #FFF , 1023px 990px #FFF , 640px 1474px #FFF , 984px 653px #FFF , 573px 615px #FFF , 294px 1904px #FFF , 2803px 2815px #FFF , 1473px 22px #FFF , 1516px 2406px #FFF , 2628px 979px #FFF , 465px 2935px #FFF , 2675px 2966px #FFF , 1658px 2616px #FFF , 2978px 2086px #FFF , 816px 717px #FFF , 1512px 2864px #FFF , 1828px 610px #FFF , 1933px 1376px #FFF , 887px 2483px #FFF , 365px 65px #FFF , 2525px 2447px #FFF , 1546px 2438px #FFF , 2103px 2131px #FFF , 2528px 298px #FFF , 568px 895px #FFF , 2334px 857px #FFF , 2353px 1307px #FFF , 1601px 2671px #FFF , 2441px 1812px #FFF , 2572px 215px #FFF , 99px 2325px #FFF , 1602px 349px #FFF , 2262px 1364px #FFF , 2410px 2778px #FFF , 1849px 2602px #FFF , 318px 102px #FFF , 358px 630px #FFF , 394px 1164px #FFF , 2464px 286px #FFF , 2458px 2406px #FFF , 2039px 252px #FFF , 2354px 744px #FFF , 2646px 2338px #FFF , 1027px 2900px #FFF , 1029px 1763px #FFF , 1117px 1410px #FFF , 2730px 2378px #FFF , 1991px 2778px #FFF , 2095px 868px #FFF , 865px 1864px #FFF , 1983px 1830px #FFF , 1281px 2812px #FFF;
  -webkit-animation: snow 300s linear infinite;
          animation: snow 300s linear infinite;
}
#bigsnow:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 444px 812px #FFF , 783px 1952px #FFF , 1969px 100px #FFF , 2378px 1725px #FFF , 1040px 2680px #FFF , 1803px 2786px #FFF , 2213px 2804px #FFF , 2037px 259px #FFF , 1528px 1432px #FFF , 2650px 2149px #FFF , 2708px 2621px #FFF , 357px 457px #FFF , 1851px 1472px #FFF , 2425px 1277px #FFF , 1053px 2101px #FFF , 1285px 2430px #FFF , 938px 2708px #FFF , 2726px 264px #FFF , 956px 984px #FFF , 2783px 446px #FFF , 78px 1571px #FFF , 1805px 92px #FFF , 1277px 1314px #FFF , 1947px 1384px #FFF , 703px 2831px #FFF , 498px 2566px #FFF , 2113px 1282px #FFF , 1625px 852px #FFF , 1136px 366px #FFF , 401px 2814px #FFF , 1445px 2363px #FFF , 1249px 67px #FFF , 1883px 1646px #FFF , 2239px 2122px #FFF , 2805px 2382px #FFF , 1959px 339px #FFF , 2318px 660px #FFF , 2948px 2507px #FFF , 970px 871px #FFF , 1399px 1302px #FFF , 2531px 2594px #FFF , 1157px 2282px #FFF , 1227px 1414px #FFF , 389px 2134px #FFF , 318px 2721px #FFF , 717px 301px #FFF , 979px 546px #FFF , 670px 1455px #FFF , 1113px 578px #FFF , 1023px 990px #FFF , 640px 1474px #FFF , 984px 653px #FFF , 573px 615px #FFF , 294px 1904px #FFF , 2803px 2815px #FFF , 1473px 22px #FFF , 1516px 2406px #FFF , 2628px 979px #FFF , 465px 2935px #FFF , 2675px 2966px #FFF , 1658px 2616px #FFF , 2978px 2086px #FFF , 816px 717px #FFF , 1512px 2864px #FFF , 1828px 610px #FFF , 1933px 1376px #FFF , 887px 2483px #FFF , 365px 65px #FFF , 2525px 2447px #FFF , 1546px 2438px #FFF , 2103px 2131px #FFF , 2528px 298px #FFF , 568px 895px #FFF , 2334px 857px #FFF , 2353px 1307px #FFF , 1601px 2671px #FFF , 2441px 1812px #FFF , 2572px 215px #FFF , 99px 2325px #FFF , 1602px 349px #FFF , 2262px 1364px #FFF , 2410px 2778px #FFF , 1849px 2602px #FFF , 318px 102px #FFF , 358px 630px #FFF , 394px 1164px #FFF , 2464px 286px #FFF , 2458px 2406px #FFF , 2039px 252px #FFF , 2354px 744px #FFF , 2646px 2338px #FFF , 1027px 2900px #FFF , 1029px 1763px #FFF , 1117px 1410px #FFF , 2730px 2378px #FFF , 1991px 2778px #FFF , 2095px 868px #FFF , 865px 1864px #FFF , 1983px 1830px #FFF , 1281px 2812px #FFF;
}

.scroll {
  position: absolute;
  bottom: 8rem;
  transition: opacity 0.75s;
  color: #fff;
  opacity: 0;
}

.scroll span {
  width: 20px;
  height: 20px;
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
}
.scroll span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.scroll span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.scroll__message-wrap {
  transition: opacity 0.75s;
  opacity: 0;
}

.scroll__message {
  color: #ECECEC;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.75rem;
  -webkit-animation: scroll-message 2s infinite;
          animation: scroll-message 2s infinite;
}

.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.hero__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.hero__title-wrap {
  color: #FFF;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 10px;
  min-width: 27rem;
}
.hero__name {
  color: #ECECEC;
  display: block;
  text-transform: uppercase;
  width: 27rem;
  -webkit-animation: typing 2s linear, blink 0.5s step-end infinite alternate;
          animation: typing 2s linear, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1em;
}
.hero__subtext {
  display: block;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #ECECEC;
  letter-spacing: 0.35rem;
  font-weight: 400;
  font-size: 1.15rem;
  opacity: 0;
  -webkit-animation: show 0.5s 2s ease-in-out forwards;
          animation: show 0.5s 2s ease-in-out forwards;
}
.hero__links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 100%;
  opacity: 0;
  -webkit-animation: show 0.5s 2.5s ease-in-out forwards;
          animation: show 0.5s 2.5s ease-in-out forwards;
}
.hero__links__item {
  text-decoration: none;
  color: #d5d5d5;
}

.skills, .projects, .journey, .certification, .contact {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ECECEC;
}
.skills__heading, .projects__heading, .journey__heading, .certification__heading, .contact__heading {
  display: block;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.35rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.skills__content-wrap, .projects__content-wrap, .journey__content-wrap, .certification__content-wrap, .contact__content-wrap {
  width: 80%;
  margin-top: 3rem;
}

.skills {
  margin-top: 2.5rem;
}
.skills__content-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, -webkit-min-content));
  grid-template-columns: repeat(auto-fill, minmax(17rem, min-content));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
  padding-top: 2rem;
  margin-top: 3rem;
  justify-content: center;
}
.skills__group__subheading {
  display: block;
  text-transform: uppercase;
  font-size: 1.35rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.skills__group__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  margin: 1rem;
}
.skills__group__item__icon {
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__group__item__icon img {
  display: block;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills__group__item p {
  font-size: 1.1rem;
  line-height: 1rem;
}

.projects .project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-bottom: 5rem;
  padding-left: 0.25rem;
}
.projects .project__img {
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid #fff;
  border-radius: 10px;
  flex-shrink: 0;
}
.projects .project__img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects .project__info {
  display: flex;
  flex-direction: column;
}
.projects .project__info__role {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 700;
  font-size: 0.75em;
}
.projects .project__info__title {
  text-transform: uppercase;
  font-size: 2em;
}
.projects .project__info__tech {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 700;
  margin-top: 0.5em;
}
.projects .project__info__links {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
.projects .project__info__links__item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 0.75em;
  border-radius: 5px;
  transition: 0.3s;
}
.projects .project__info__links__item:hover {
  color: #000;
  background: #fff;
}
.projects .project__info__links__item--disabled {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #aaa;
  font-weight: 700;
  border: 1px solid #aaa;
  padding: 0.75em;
  border-radius: 5px;
  pointer-events: none;
}
.projects .project__info__description {
  margin-top: 1.5em;
  color: #fff;
}
.projects .project__info__contributions {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.projects .project__info__contributions__item {
  display: flex;
  align-items: top;
}
.projects .project__info__contributions__item span {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.journey__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  border-left: 1px solid #aaa;
}
.journey__item {
  display: flex;
  position: relative;
}
.journey__item svg {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  fill: #aaa;
  stroke: #aaa;
  margin-left: -0.4rem;
  margin-top: -0.5rem;
}
.journey__item__text {
  margin-top: -1.05rem;
  margin-left: 1rem;
  line-height: 1.75rem;
}
.journey__item__text__duration {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 700;
  font-size: 0.85rem;
}
.journey__item__text__title {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.journey__item__text__subtitle {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}
.journey__item__text__achievements {
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.journey__item__text__achievements a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.certification__content-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, -webkit-min-content));
  grid-template-columns: repeat(auto-fill, minmax(17rem, min-content));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 4rem;
  padding-top: 2rem;
  margin-top: 3rem;
  justify-content: center;
}
.certification__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  text-decoration: none;
}
.certification__card__img {
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certification__card__img img {
  display: block;
  width: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
.certification__card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certification__card__info__name {
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.25rem;
}
.certification__card__info__date {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #bbb;
}

.contact__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.contact__message-wrap {
  display: flex;
  justify-content: center;
}
.contact__message {
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  color: #000;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
}
.contact__form__address-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.contact__form__input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.contact__form__input__label {
  color: #aaa;
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  top: 1.5rem;
  transition: 0.25s ease;
}
.contact__form__input__field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 1px solid #888;
  color: #aaa;
  font: inherit;
  font-size: 1rem;
  padding: 0.25rem 0;
}
.contact__form__input__field:focus, .contact__form__input__field:valid {
  outline: 0;
  border-bottom-color: #fff;
}
.contact__form__input__field:focus + .contact__form__input__label, .contact__form__input__field:valid + .contact__form__input__label {
  color: #fff;
  transform: translateY(-1.5rem);
}
.contact__form__input__warning {
  position: absolute;
  top: 3.75rem;
  visibility: hidden;
  text-transform: none;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  color: #ff8080;
}
.contact__form textarea {
  resize: none;
}
.contact__form__submit-wrap {
  margin: 2rem 0;
  text-align: end;
}
.contact__form__submit {
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: 0.3s;
}
.contact__form__submit:hover {
  color: #000;
  background: #fff;
}

*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-track {
  background: #090A0F;
}

*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0rem;
}

.tippy-box[data-theme~=clean] {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.75rem;
}

.splide {
  overflow-y: hidden;
}
.splide .splide__arrow svg {
  fill: none;
  height: 20em;
  width: 20em;
  color: #fff;
}
.splide .splide__arrow {
  background: none;
  top: 97%;
}

@-webkit-keyframes snow {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(2000px);
  }
}

@keyframes snow {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(2000px);
  }
}
@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 27rem;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 27rem;
  }
}
@-webkit-keyframes show {
  100% {
    opacity: 100;
  }
}
@keyframes show {
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scroll-message {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-message {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 56rem) {
  .projects .project {
    display: flex;
    flex-direction: column;
  }
  .contact__form__submit-wrap {
    text-align: center;
  }
}
@media screen and (max-width: 32rem) {
  html {
    font-size: 9px;
  }
  .scroll span {
    width: 10px;
    height: 10px;
    margin: -5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .hero__title-wrap {
    letter-spacing: 6px;
  }
  .hero__name {
    width: 100%;
  }
  .skills__content-wrap {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  .projects .project {
    display: flex;
    flex-direction: column;
  }
  .projects .project__info {
    padding-bottom: 5rem;
  }
  .contact__form__address-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contact__form__submit-wrap {
    text-align: center;
  }
}
@media screen and (max-width: 21.5rem) {
  .projects .project {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 131rem) {
  html {
    font-size: 24px;
  }
  .hero__links__item svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  .hero__title-wrap {
    min-width: 13ch;
  }
  .hero__name {
    width: 13ch;
  }
}